<div class="container-fluid">

  <div class="row">
    <%= header("Konto端bersicht " + @user.full_name) %>
  </div>
  
  <div class="row">
    <%= navigate("Account", @user) %>
  </div>
      
  <div class="row">

      <% case @topic %>
        <% when "Accountuser" %>
          <%= header("Konto端bersicht (privat)") %>
          <div class='col-xs-12'><div class="panel-body">
            <% @ali = [] %>
            <% @partners = Company.where('partner=?',true) %>
            <% @partners.each do |p| %>
              <% @customer = Customer.where("user_id=? AND partner_id=?", @user.id, p.id).first %>
              <% if @customer %>
                <% @customer.accounts.each do |ca| %>
                  <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail" align="center">
                      <%= link_to new_transaction_path(:user_id => @user.id, :ref => @ref, :object_name => @object_name, :object_id => @object_id, :amount => @amount, :user_id_ver => @user_id_ver, :company_id_ver => @company_id_ver, :account_bel => ca.id) do %>
                        <%= showImage("Company", :medium, p) %>
                      <% end %>
                      <br><br>
                      <%= p.name %><br>
                      <anzeigetext><%= ca.name %></anzeigetext><br>
                      <ntext><%= ca.iban %></ntext>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div></div>

        <% when "Accountcompany" %>
          <%= header("Konto端bersicht (Institutionen)") %>
          <div class='col-xs-12'><div class="panel-body">
            <% @ali = [] %>
            <% @partners = Company.where('partner=?',true) %>
            <% @partners.each do |p| %>
              <% @customer = Customer.where("company_id=? AND partner_id=?", c.id, p.id).first %>
              <% if @customer %>
                <% @customer.accounts.each do |ca| %>
                  <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail" align="center">
                      <%= link_to new_transaction_path(:company_id => c.id, :ref => @ref, :object_name => @object_name, :object_id => @object_id, :amount => @amount, :user_id_ver => @user_id_ver, :company_id_ver => @company_id_ver, :account_bel => ca.id) do %>
                        <%= showImage("Company", :medium, p) %>
                      <% end %>
                      <br><br>
                      <%= p.name %><br>
                      <anzeigetext><%= ca.name %></anzeigetext><br>
                      <ntext><%= ca.iban %></ntext>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div></div>

      <% end %>

  </div>

  <div class="row">
      <%= header("Konto端bersicht") %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
            <%= link_to @user do %>
              <%= showImage("User", :small, @user) %>
            <% end %>
            <%= @user.name + " " + @user.lastname %>        
        </li_header>
      </div>
      <div class="panel-body">
          <% @ali = [] %>
          <% @partners = Company.where('partner=?',true) %>
          <% @partners.each do |p| %>
            <% @customer = Customer.where("user_id=? AND partner_id=?", @user.id, p.id).first %>
            <% if @customer %>
              <% @customer.accounts.each do |ca| %>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="thumbnail" align="center">
                    <%= link_to new_transaction_path(:user_id => @user.id, :ref => @ref, :object_name => @object_name, :object_id => @object_id, :amount => @amount, :user_id_ver => @user_id_ver, :company_id_ver => @company_id_ver, :account_bel => ca.id) do %>
                      <%= showImage("Company", :medium, p) %>
                    <% end %>
                    <br><br>
                    <%= p.name %><br>
                    <anzeigetext><%= ca.name %></anzeigetext><br>
                    <ntext><%= ca.iban %></ntext>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
      </div>
     </div>
    </div>

  <% @user.companies.each do |c| %>
    <div class="row">
      <div class="col-md-12">
        <div class="panel-heading header">
          <li_header>
            <%= link_to c do %>
              <%= showImage("Company", :small, c) %>
            <% end %>
            <%= c.name %>
          </li_header>
        </div>
        <div class="panel-body">
          <% @ali = [] %>
          <% @partners = Company.where('partner=?',true) %>
          <% @partners.each do |p| %>
            <% @customer = Customer.where("company_id=? AND partner_id=?", c.id, p.id).first %>
            <% if @customer %>
              <% @customer.accounts.each do |ca| %>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="thumbnail" align="center">
                    <%= link_to new_transaction_path(:company_id => c.id, :ref => @ref, :object_name => @object_name, :object_id => @object_id, :amount => @amount, :user_id_ver => @user_id_ver, :company_id_ver => @company_id_ver, :account_bel => ca.id) do %>
                      <%= showImage("Company", :medium, p) %>
                    <% end %>
                    <br><br>
                    <%= p.name %><br>
                    <anzeigetext><%= ca.name %></anzeigetext><br>
                    <ntext><%= ca.iban %></ntext>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
      </div>
     </div>
    </div>
  <% end %>


</div>
