<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
        <div class="panel-heading header">
          <h2>
            <% if @service.stype == "action" %>
              AKTION
            <% else %>
              SERVICE 
            <% end %>
            <%= @service.name %>
          </h2>
        </div>
        <div class="panel-body">
          <%= link_to offer_index2_path :page => session[:page] do %>
            <i class="btn btn-primary btn-lg glyphicon glyphicon-list"></i>
          <% end %>
          <% if  user_signed_in? %>
              <% if @service.user_id != nil %>
                <% if @service.user_id == current_user.id %>
        	        <%= link_to edit_service_path(@service) do %>
                    <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                  <% end %>
        	        <%= link_to @service, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="btn btn-danger btn-lg pull-right glyphicon glyphicon-trash"></i>
                  <% end %>
                <% end %>
              <% end %>
              <% if @service.company_id != nil %>
                <% if @service.company.user_id == current_user.id %>
                  <%= link_to edit_service_path(@service) do %>
                    <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                  <% end %>
        	        <%= link_to @service, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="btn btn-danger btn-lg pull-right glyphicon glyphicon-trash"></i>
                  <% end %>
                <% end %>
              <% end %>
    	        <%= link_to new_webmaster_path :object_name => "Service", :object_id => @service.id, :user_id => current_user.id do %>
                <i class="btn btn-warning btn-lg pull-right glyphicon glyphicon-eye-open"></i>
              <% end %>
          <% end %>
        </div>
        <div class="panel-body">
    			<blockquote>
    				<% if @service.avatar_file_name == nil %>
              <%= image_tag("service_a.png", :size => "200x200", class:"img-rounded" ) %>
            <% else %>
              <%= image_tag @service.avatar(:medium), class:"img-rounded"  %>
            <% end %>
      			<small><%= @service.description %></small>
      			<br>
            <cite> <%= @service.created_at.strftime("%d.%m.%Y") %></cite>        
        	</blockquote>
          <% if @service.social %>
              <%= image_tag("heart.png", :size => "50x50", class:"img-rounded" ) %>
          <% end %>
          <br>
          <% if @service.company_id != nil %>
            <% if !@service.company.avatar_file_name %>
              <%= image_tag("company_a.png", :size => "50x50" , class:"img-rounded") %>
            <% else %>
              <%= image_tag @service.company.avatar(:small), class:"img-rounded" %>
            <% end %>
            <div class="anzeigetext">
              <%= @service.company.name %>
            </div><br>
            <%= link_to @service.company do %>
              <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
            <% end %>
          <% end %>
          <% if @service.user_id != nil %>
            <% if !@service.user.avatar_file_name %>
              <%= image_tag("user_a.png", :size => "50x50" , class:"img-rounded") %>
            <% else %>
              <%= image_tag @service.user.avatar(:small), class:"img-rounded" %>
            <% end %>
            <div class="anzeigetext">
              <%= @service.user.name + " " + @service.user.lastname %>
            </div><br>
            <%= link_to @service.user do %>
              <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <br>
          
  <% if $activeapps.include?("Bewertungen") %>
  <div class="row">
    <div class="col-md-12">
        <div class="panel-heading header">
          <h2>
            <% if user_signed_in? %>
              <%= link_to new_rating_path(:user_id => current_user.id, :service_id => @service.id) do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
            Bewertungen
          </h2>
        </div>
        <div class="panel-body">
            <% if @service.ratings.count > 0 %>
  						<table class="table table striped">
  						  <thead>
  						    <tr>
      						  <th colspan="2">
      						    Bewertung
      						  </th>
      						  <th>
      						    Kommentar
      						  </th>
      						  <th>
      						    Benutzer
      						  </th>
      						  <th>
      						    Datum
      						  </th>
                  </tr>
                </thead>
                <tbody>
                <% @service.ratings.each do |usr| %>
                  <tr>
                    <td>
                    <% if user_signed_in? %>
                      <% if (usr.user_id == current_user.id) %>
              	        <%= link_to edit_rating_path(usr) do %>
                          <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                        <% end %>
              	        <%= link_to usr, method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                    </td>
                    <td>
                      <% usr.user_rating.times do %>
                        <%= image_tag("rating_star.jpg", :size => "50x50" , class:"img-rounded") %>
                      <% end %><br>
                    </td>
                    <td>
                      <%= usr.user_comment %>
                    </td>
                    <td>
                      <%= usr.user.name + " " + usr.user.lastname %>
                    </td>
                    <td>
                      <%= usr.created_at.strftime("%d.%m.%Y") %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
  						</table>
  					<% end %>
        </div>
    </div>
  </div>
  <br>
  <% end %>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
            ORTSANGABE
        </h2>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel-body">
        <div id="map">
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
            KONTAKT
        </h2>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel-body">
        <%= form_tag request_path, :method => "get" do %>
          <% if @service.user_id != nil %>
            <div class="form-group">
              <% if @service.user.phone1 == "" %>
                <i class="glyphicon glyphicon-phone"></i>
                <%= @service.user.phone1 %><br>
              <% end %>
              <% if @service.user.phone2 == "" %>
              <i class="glyphicon glyphicon-phone"></i>
                <%= @service.user.phone2 %><br>
              <% end %>
              <i class="glyphicon glyphicon-envelope"></i>
              <%= @service.user.email %><br>
            </div>
          <% end %>
          <% if @service.company_id != nil %>
            <div class="form-group">
              <% if @service.company.user.phone1 == "" %>
                <i class="glyphicon glyphicon-phone"></i>
                <%= @service.company.user.phone1 %><br>
              <% end %>
              <% if @service.company.user.phone2 == "" %>
              <i class="glyphicon glyphicon-phone"></i>
                <%= @service.company.user.phone2 %><br>
              <% end %>
              <i class="glyphicon glyphicon-envelope"></i>
              <%= @service.company.user.email %><br>
            </div>
          <% end %>
          <div class="form-group">
            <%= label_tag "Betreff" %>
            <%= text_field_tag :header, @service.name, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag "Nachricht" %>
            <%= text_area_tag :body, params[:body], rows: 5, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= submit_tag "Senden", :name => nil, class:"btn btn-primary btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
        <% if @service.company_id != nil %>
          <% if @service.company.latitude != nil and @service.company.longitude != nil %>
            "lat": <%= @service.company.latitude %>,
            "lng": <%= @service.company.longitude %>,
            "infowindow": "<%= @service.company.name %>"
           <% end %>
        <% end %>
        <% if @service.user_id != nil %>
          <% if @service.user.latitude != nil and @service.user.longitude != nil %>
            "lat": <%= @service.user.latitude %>,
            "lng": <%= @service.user.longitude %>,
            "infowindow": "<%= @service.user.name + " " + @service.user.lastname %>"
           <% end %>
        <% end %>
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
});
</script>