<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
        <div class="panel-heading header">
          <h2>
            <% if @service.stype == "action" %>
              AKTION
            <% else %>
              SERVICE 
            <% end %>
            <%= @service.name %>
          </h2>
        </div>
        <div class="panel-body">
          <%= link_to offer_index2_path :page => session[:page] do %>
            <i class="btn btn-primary btn-lg glyphicon glyphicon-list"></i>
          <% end %>
          <% if  user_signed_in? %>
              <% if @service.user_id != nil %>
                <% if @service.user_id == current_user.id %>
        	        <%= link_to edit_service_path(@service) do %>
                    <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                  <% end %>
        	        <%= link_to @service, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="btn btn-danger btn-lg pull-right glyphicon glyphicon-trash"></i>
                  <% end %>
                <% end %>
              <% end %>
              <% if @service.company_id != nil %>
                <% if @service.company.user_id == current_user.id %>
                  <%= link_to edit_service_path(@service) do %>
                    <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                  <% end %>
        	        <%= link_to @service, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="btn btn-danger btn-lg pull-right glyphicon glyphicon-trash"></i>
                  <% end %>
                <% end %>
              <% end %>
    	        <%= link_to new_webmaster_path :object_name => "Service", :object_id => @service.id, :user_id => current_user.id do %>
                <i class="btn btn-warning btn-lg pull-right glyphicon glyphicon-eye-open"></i>
              <% end %>
          <% end %>
        </div>
        <div class="panel-body">
  				<% if @service.avatar_file_name == nil %>
            <%= image_tag("service_a.png", :size => "200x200", class:"img-rounded" ) %>
          <% else %>
            <%= image_tag @service.avatar(:medium), class:"img-rounded"  %>
          <% end %>
          <br><br>
          <b>Bewertung</b><br>
          <% avg_rating(@service.id).times do %>
            <% image_tag("rating_star.jpg", :size => "50x50" , class:"img-rounded") %>
            <i class="glyphicon glyphicon-star"></i>
          <% end %>
          <br><br>
          <% if @service.social %>
              <% image_tag("heart.png", :size => "50x50", class:"img-rounded" ) %>
              <i class="glyphicon glyphicon-heart"></i> soziales Engagement
              <br>
          <% end %>
          <br><br>
          <% if @service.stype == "action" %>
            <b>Angebot gültig von-bis:</b><br>
            <%= @service.datum_von.strftime("%d.%m.%Y") %> - <%= @service.datum_bis.strftime("%d.%m.%Y") %>
            <br><br>
            <b>Preisinformation</b><br>
            Preis <%= sprintf("%05.2f CHF", @service.price_new) if @service.price_new != nil %> statt <%= sprintf("%05.2f CHF", @service.price_reg) if @service.price_reg != nil %>            
            <br><br>
          <% end %>
          <b>Beschreibung</b><br>
    			<%= @service.description %>
          <br><br>
          <b>angeboten von:</b><br>
          <% if @service.company_id != nil %>
            <% if !@service.company.avatar_file_name %>
              <%= image_tag("company_a.png", :size => "100x100" , class:"img-rounded") %>
            <% else %>
              <%= image_tag @service.company.avatar(:thumb), class:"img-rounded" %>
            <% end %>
            <%= @service.company.name %>
          <% end %>
          <% if @service.user_id != nil %>
            <% if !@service.user.avatar_file_name %>
              <%= image_tag("user_a.png", :size => "100x100" , class:"img-rounded") %>
            <% else %>
              <%= image_tag @service.user.avatar(:thumb), class:"img-rounded" %>
            <% end %>
            <%= @service.user.name + " " + @service.user.lastname %>
          <% end %>
    			<br><br>
          <%= @service.created_at.strftime("%d.%m.%Y") %>
        </div>
      </div>
    </div>
    <br>
          
  <% if $activeapps.include?("Bewertungen") %>
  <div class="row">
    <div class="col-md-12">
        <div class="panel-heading header">
          <h2>
            <% if user_signed_in? %>
              <%= link_to new_rating_path(:user_id => current_user.id, :service_id => @service.id) do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
            Bewertungen
          </h2>
        </div>
        <div class="panel-body">
          <% @service.ratings.each do |sr| %>
            <div class="col-md-4">
              <div class="thumbnail" align="center">
                <% if sr.user.avatar == nil or sr.user.anonymous %>
                  <%= image_tag("user_a.png", :size => "50x50" , class:"img-rounded") %>
                <% else %>
                  <%= image_tag sr.user.avatar, :size => 200, class:"img-rounded" %>
                <% end %>
                <br>
                <ntext>
                <% sr.user_rating.times do %>
                  <% image_tag("rating_star.jpg", :size => "50x50" , class:"img-rounded") %>
                  <i class="glyphicon glyphicon-star"></i>
                <% end %>
                </ntext>
                <br>
                <br>
                <anzeigetext>
                <%= sr.user.name + " " + sr.user.lastname %><br>
                </anzeigetext>
                <ntext>
                <%= sr.user_comment %>
                <br><br>
                <%= sr.created_at.strftime("%d.%m.%Y") %>
                <br><br>
                </ntext>
                <% if user_signed_in? %>
                  <% if current_user.id == sr.user_id %>
          	        <%= link_to edit_rating_path(sr) do %>
                      <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                    <% end %>
          	        <%= link_to sr, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                    <% end %>
                  <% end %>
                <% end %>
                <br><br>
              </div>
            </div>
  				<% end %>
        </div>
    </div>
  </div>
  <br>
  <% end %>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
            ORTSANGABE
        </h2>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel-body">
        <div id="map">
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
            KONTAKT
        </h2>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel-body">
        <%= form_tag request_path, :method => "get" do %>
          <% if @service.user_id != nil %>
            <div class="form-group">
              <% if @service.user.phone1 == "" %>
                <i class="glyphicon glyphicon-phone"></i>
                <%= @service.user.phone1 %><br>
              <% end %>
              <% if @service.user.phone2 == "" %>
              <i class="glyphicon glyphicon-phone"></i>
                <%= @service.user.phone2 %><br>
              <% end %>
              <i class="glyphicon glyphicon-envelope"></i>
              <%= @service.user.email %><br>
            </div>
          <% end %>
          <% if @service.company_id != nil %>
            <div class="form-group">
              <% if @service.company.user.phone1 == "" %>
                <i class="glyphicon glyphicon-phone"></i>
                <%= @service.company.user.phone1 %><br>
              <% end %>
              <% if @service.company.user.phone2 == "" %>
              <i class="glyphicon glyphicon-phone"></i>
                <%= @service.company.user.phone2 %><br>
              <% end %>
              <i class="glyphicon glyphicon-envelope"></i>
              <%= @service.company.user.email %><br>
            </div>
          <% end %>
          <div class="form-group">
            <%= label_tag "Betreff" %>
            <%= text_field_tag :header, @service.name, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag "Nachricht" %>
            <%= text_area_tag :body, params[:body], rows: 5, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= submit_tag "Senden", :name => nil, class:"btn btn-primary btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
        <% if @service.company_id != nil %>
          <% if @service.company.latitude != nil and @service.company.longitude != nil %>
            "lat": <%= @service.company.latitude %>,
            "lng": <%= @service.company.longitude %>,
            "infowindow": "<%= @service.company.name %>"
           <% end %>
        <% end %>
        <% if @service.user_id != nil %>
          <% if @service.user.latitude != nil and @service.user.longitude != nil %>
            "lat": <%= @service.user.latitude %>,
            "lng": <%= @service.user.longitude %>,
            "infowindow": "<%= @service.user.name + " " + @service.user.lastname %>"
           <% end %>
        <% end %>
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
});
</script>