<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @request_detail.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request_detail.description %>
</p>

<p>
  <strong>Avatar file name:</strong>
  <%= @request_detail.avatar_file_name %>
</p>

<p>
  <strong>Avatar content type:</strong>
  <%= @request_detail.avatar_content_type %>
</p>

<p>
  <strong>Avatar filesize:</strong>
  <%= @request_detail.avatar_filesize %>
</p>

<p>
  <strong>Avatar updated at:</strong>
  <%= @request_detail.avatar_updated_at %>
</p>

<%= link_to 'Edit', edit_request_detail_path(@request_detail) %> |
<%= link_to 'Back', request_details_path %>
