
  <div class="row">
    <action>
    <%= action_buttons("Bid", @bid, @topic) %>
    </action>
  </div>

  <div class="row">
    <header>
    <%= header(@bid.name, true) %>
    </header>
  </div>
  
  <div class="row">

      <div class='col-xs-2'>
        <%= navigate("Bid", @bid) %>
      </div>
      <div class='col-xs-10'>

      <% case @topic %>
        <% when "Bidinformation" %>
          <%= header("Informationen", false) %>
          <div class="panel-body">
            <% if @bid.bid_details.first != nil %>
              <%= carousel(@bid.bid_details, "medium") %>
              <br><br>
            <% end %>
            <b>Ausführungsort</b><br>
            <%= @bid.address1 if @bid.address1 != nil %>
            <%= @bid.address2 if @bid.address2 != nil %>
            <%= @bid.address3 if @bid.address3 != nil %>
            <br><br>
            <b>Ausführungsdatum von-bis:</b><br>
            <%= @bid.date_from.strftime("%d.%m.%Y") %> - <%= @bid.date_to.strftime("%d.%m.%Y") %>
            <br><br>
            <b>Beschreibung</b><br>
      			<%= @bid.description %>
            <br><br>
            <b>ausgeschrieben von:</b><br>
            <%= showImage("User", :small, @bid.user) %>
            <%= @bid.user.name + " " + @bid.user.lastname %>
      			<br><br>
            <%= @bid.created_at.strftime("%d.%m.%Y") %>
          </div>
      <% end %>

      <% case @topic %>
        <% when "Biddetail" %>
          <%= header("Informationen", false) %>
          <div class="panel-body">
        		<% @bid.bid_details.each do |bd| %>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail" align="center">
                  <%= showImage("Bid", :medium, bd) %>
                  <br>
                  <anzeigetext>
        						<%= bd.name %>
                  </anzeigetext><br>
      						<%= bd.description %>
      						<br>
                  <% if user_signed_in? %>
                    <% if current_user.id == @bid.user_id %>
            	        <%= link_to edit_bid_detail_path(bd) do %>
                        <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                      <% end %>
            	        <%= link_to bd, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                  <br><br>
        			  </div>
        			</div>
        		<% end %>
          </div>
      <% end %>

      <% case @topic %>
        <% when "Biddokument" %>
          <%= header("Dokumente", false) %>
          <div class="panel-body">
        		<% @bid.bid_documents.each do |bd| %>
              <% if bd.company_id == nil %>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="thumbnail" align="center">
                    <%= image_tag("pdf.jpg", :size => "200x200", class:"img-rounded" ) %>
                    <br>
                    <anzeigetext>
          						<%= bd.name %><br>
                    </anzeigetext>
                    <p>
        						<%= bd.description %>
        						</p>
                    <% if user_signed_in? %>
                      <% if current_user.id == @bid.user_id %>
              	        <%= link_to bd.document.url, target: "_blank" do %>
                          <i class="btn btn-primary glyphicon glyphicon-cloud-download"></i>
                        <% end %>
              	        <%= link_to edit_bid_document_path(bd) do %>
                          <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                        <% end %>
              	        <%= link_to bd, method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                    <br><br>
          			  </div>
          			</div>
          		<% end %>
        		<% end %>
          </div>
      <% end %>

      <% case @topic %>
        <% when "Bidstandort" %>
          <%= header("Standort", false) %>
          <div class="panel-body">
            <div id="map">
              <div id="map-canvas"></div>
            </div>
          </div>
      <% end %>

    </div>
  </div>
  
<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @bid.latitude %>,
          "lng": <%= @bid.longitude %>,
          "infowindow": "<%= @bid.name %>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
});
</script>

<!--<script>-->
<!--$(document).ready(function(){-->
<!--  $("header").mouseenter(function() {-->
<!--    $("navigate").show();-->
<!--    $("action").show();-->
<!--  });-->
<!--})-->
<!--$(document).ready(function(){-->
<!--  $("navigate").mouseleave(function() {-->
<!--    $("navigate").hide()-->
<!--    $("action").hide();-->
<!--  });-->
<!--})</script>-->