<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h1>
		    <% if user_signed_in? %>
		        <%= link_to searches_path :search_domain => "Aktionen", :controller_name => controller_name do %>
		          <i class="btn btn-primary btn-lg glyphicon glyphicon-filter"></i>
		        <% end %>
		    <% end %>
        AKTIONEN
        <span class="badge"><%= @seranz %></span>
        </h1>
      </div>
    </div>
  </div>
  <br>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="digg_pagination">
            <%= will_paginate @services, :container => false, previous_label: "<", next_label: ">" %>
        </div>
      </div>
    </div>
  </div>
        
  <%= build_medialist("col-sm-6 col-md-4 col-lg-3", @services, "services", true) %>
  <br>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
          <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<% if 1>2 %>
                <% avg_rating(e.id).times do %>
                  <i class="glyphicon glyphicon-star"></i>
                <% end %>
                <% if e.date_to != nil %>
                  <p>
                    <b><ntext>noch </ntext></b><restlaufzeit><%= (e.date_to.to_date - DateTime.now.to_date).to_i.to_s %></restlaufzeit> <b><ntext> Tage</ntext></b>
                  </p>
                <% end %>
                <% if e.company_id != nil %>
                  <%= e.company.name %>
                <% end %>
                <% if e.user_id != nil %>
                  <%= e.user.name + " " + e.user.lastname %>
                <% end %>
                <%= e.date_from.strftime("%d.%m") %>-<%= e.date_to.strftime("%d.%m") %>
<% end %>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
});
</script>