<div class="container-fluid">
	
	<div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
            <h1>Event Details <%= @event.name %></h1>
            <%= link_to events_path :page => session[:page] do %>
              <i class="btn btn-primary glyphicon glyphicon-list"></i>
            <% end %>
            <%= link_to new_event_detail_path do %>
              <i class="btn btn-default glyphicon glyphicon-plus"></i>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <h3><%= @event.name %></h3>
      <%= @event.description %><br><br>
      <b>Weitere Details</b><br><br>
    </div>
  </div>

	<div class="row">
    <% if @event_details.count > 0 %>
      <% @event_details.each do |ed| %>
        <div class="col-md-3">
      		<div class="thumbnail" align="center">
            <% if !ed.avatar_file_name %>
              <%= image_tag("event_a.png", :size => "500x500", class:"img-rounded" ) %>
            <% else %>
              <%= image_tag ed.avatar(:medium), class:"img-rounded"  %>
            <% end %>
  					<div class="caption">
  						<h3>
  							<%= ed.name %>
  						</h3>
  						<p>
                <b>Beschreibung</b>
  						  <%= ed.description %>
  						</p>
  					</div>
  	        <%= link_to edit_event_detail_path(ed) do %>
              <i class="btn btn-default glyphicon glyphicon-wrench"></i>
            <% end %>
  	        <%= link_to ed, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="btn btn-danger glyphicon glyphicon-trash"></i>
            <% end %>
  			   </div>
  			 </div>
      <% end %>
    <% end %>
  </div>
</div>