<div class="container-fluid">
    <%= form_for @user, html: {multipart: true}  do |f| %>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <%= link_to users_path do %>
                    <i class="btn btn-primary glyphicon glyphicon-list"></i>
                  <% end %>
                  <b>user data</b>
                 </div>

                <div class="panel-body">
                    <% if @user.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this workorder from being saved:</h2>
                  
                        <ul>
                        <% @user.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
    
                      <div class="form-group">
                        <%= f.label "email" %><br/>
                        <%= f.text_field :userid, autofocus: true, class:"form-control"%>
                      </div>
                      <div class="form-group">
                        <%= f.label "password" %><br/>
                        <%= f.password_field :password, class:"form-control"%>
                      </div>
                          <div class="form-group">
                        <%= f.label "lastname" %><br/>
                        <%= f.text_field :lastname, class:"form-control"%>
                      </div>
                      <div class="form-group">
                        <%= f.label "name" %><br/>
                        <%= f.text_field :name, class:"form-control"%>
                      </div>
                      <div class="form-group">
                        <%= f.label "organisation" %>
                        <%= f.text_field :org, class:"form-control"%>
                      </div>
                      <div class="form-group">
                        <%= f.label "title" %>
                        <%= f.text_field :title, class:"form-control"%>
                      </div>
                      <div class="form-group">
                        <%= f.label "active" %>
                        <%= f.check_box :active, class:"form-control"%>
                      </div>
                      <div class="form-group">
                         <%= f.label "image" %><br/>
                         <%= image_tag @user.avatar.url(:medium) %>
                         <%= f.file_field :avatar, class:"form-control" %>
                      </div>
                      <div class="form-group">
                         <%= f.label "adress" %><br/>
                         <%= f.text_field :adress1, class:"form-control" %>
                         <%= f.text_field :adress2, class:"form-control" %>
                         <%= f.text_field :adress3, class:"form-control" %>
                      </div>
                      <div class="form-group">
                         <%= f.label "phone" %><br/>
                         <%= f.text_field :phone1, class:"form-control" %>
                         <%= f.text_field :phone2, class:"form-control" %>
                      </div>
                      <div class="form-group">
                         <%= f.label "default cost rate" %><br/>
                         <%= f.number_field :costrate, class:"form-control" %>
                      </div>
                      <div class="form-group">
                         <%= f.label "cost information" %><br/>
                         <%= f.text_field :costinfo1, class:"form-control" %>
                         <%= f.text_field :costinfo2, class:"form-control" %>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="actions">
              <%= f.submit "Save",  class:"btn btn-primary btn-lg"%>
            </div>
            <div class="panel-footer">
              <p id="notice"><%= notice %></p>
            </div>
        </div>
    </div>        
    <% end %>                
</div>