<p id="notice"><%= notice %></p>

<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">

    <h1>Add User Access to workorder <%= @wo_name %></h1>

    <%= form_tag do %>
      <%= label_tag "Username" %>
      <%= search_field_tag :searchstring, value=@search %>
      <%= button_tag "Search", class:"btn btn-default" %>
    <% end %>
  
    <table class='table table-striped'>

      <thead>
        <tr>
        <th></th>
        <th>ID</th>
        <th>Userid</th>
        <th colspan=2>Name</th>
        <th>Select</th>
        </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td>
            <% if user.avatar.url %>
              <%= image_tag user.avatar.url(:small) %>
            <% end %>
            </td>
            <td><%= user.id %></td>
            <td><%= user.userid %></td>
            <td><%= user.lastname %></td>
            <td><%= user.name %></td>
            <td>
              <ul class="nav nav-pills">
                <li>
      				    <%= link_to new_access_path(:us => user.id) do %>
                    <i class="btn btn-primary glyphicon glyphicon-ok"></i>
                  <% end %>
      				  </li>
      				</ul>
            </td>
          </tr>
      <% end %> 
      </tbody> 
    
    </table>  
</div>
</div>
</div>