<p id="notice"><%= notice %></p>
<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h1>
        PRIVATPERSONEN
        <span class="badge"><%= @usanz %></span>
        </h1>
      </div>
    </div>
  </div>
  <br>

	<div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
    		<!--<table class="table table-striped table-hover-->
    		<table class="table table-striped">
          <thead>
            <tr>
              <td colspan="3">
                <div class="digg_pagination">
                    <%= will_paginate @users, :container => false, previous_label: "<", next_label: ">" %>
                </div>	  
              </td>
            </tr>
            
            <tr>
              <th colspan="2">Privatperson</th>
              <th>Sozial</th>
            </tr>
          </thead>
        
          <tbody>
            <% @users.each do |u| %>
              <tr>
                <td>
                  <%= link_to u do %>
                    <% if !u.avatar_file_name %>
                      <%= image_tag("user_a.png", :size => "50x50" , class:"img-rounded") %>
                    <% else %>
                      <%= image_tag u.avatar(:small), class:"img-rounded"%>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% if u.anonymous %>
                    <div class="anzeigetext">
                      ********
                    </div>
                  <% else %>
                    <%= link_to u do %>
                      <div class="anzeigetext">
                        <%= u.name + " " + u.lastname %><br>
                      </div>
                    <% end %><br>
                    <%= u.address2 %>
                  <% end %>
                </td>
                <td align="center">
                <% if u.services.where("social=?",true).count > 0 %>
                  <% image_tag("heart.png", :size => "50x50" , class:"img-rounded") %>
                  <i class="glyphicon glyphicon-heart"></i>
                <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="col-md-6">
      <div id="map">
      </div>
    </div>

  </div>
</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
});
</script>