<p id="notice"><%= notice %></p>

<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
      <h1>Listing Users</h1>
      <%= link_to new_user_path do %>
        <i class="btn btn-primary glyphicon glyphicon-plus"></i>
      <% end %>
      <br>
			<table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>image</th>
            <th>email</th>
            <th colspan="2">name</th>
            <th colspan="4"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.avatar(:small) %></td>
              <td><%= user.userid %></td>
              <td><%= user.lastname %></td>             
              <td><%= user.name %></td>
              <td>
              </td>
              <td>
                <ul class="nav nav-pills">
                  <li>
      				        <%= link_to users_workorders_of_user_path(:user_id => user.id) do %>
                        <i class="btn btn-primary glyphicon glyphicon-lock"></i><span class="badge pull-right"><%= user.accesses.where("user_id=?", user.id).count %></span>
                      <% end %>
      				    </li>
      				    <li>
      				        <%= link_to user do %>
                        <i class="btn btn-info glyphicon glyphicon-info-sign"></i>
                      <% end %>
      				    </li>
      	          <li>
      				        <%= link_to edit_user_path(user) do %>
                        <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                      <% end %>
      				    </li>
          	      <li>
      				        <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                      <% end %>
      				    </li>
      			    </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>