<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @user.userid %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Adress1:</strong>
  <%= @user.adress1 %>
</p>

<p>
  <strong>Adress2:</strong>
  <%= @user.adress2 %>
</p>

<p>
  <strong>Adress3:</strong>
  <%= @user.adress3 %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @user.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @user.phone2 %>
</p>

<p>
  <strong>Org:</strong>
  <%= @user.org %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.avatar.url %>
  <%= image_tag @user.avatar.url(:medium) %>
</p>

<p>
  <strong>Costrate:</strong>
  <%= @user.costrate %>
</p>

<p>
  <strong>Costinfo1:</strong>
  <%= @user.costinfo1 %>
</p>

<p>
  <strong>Costinfo2:</strong>
  <%= @user.costinfo2 %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
