<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron">
    <h1>Hello, welcome to ProMIS</h1>
    <p>the most popular Projectmanagement Reporting Tool, also know as SAP killer</p> 
    <p><strong><%= $error_message %></p></strong>
    <%= form_tag (signin_path method: :POST) do %>
      <div class="form-group">
        <%= label_tag "email" %><br/>
        <%= email_field_tag :userid, "your email...", class:"form-control"%>
      </div>
      <br/>
      <div class="actions">
            <%= button_tag "Signin",  class:"btn btn-primary btn-lg"%>
      </div
    <% end %>
  </div>  
</div>