<p id="notice"><%= notice %></p>
<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= link_to users_path(:user_id => current_user.id) do %>
              <i class="btn btn-primary glyphicon glyphicon-list"></i>
          <% end %>
          <b>access to workorders</b>
        </div>
      </div>
      <div class="panel panel-default">
  			<table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th colspan="2">responsibilty</th>
              <th>description</th>
              <th>workorder hierachy</th>
            </tr>
          </thead>
        
          <tbody>
            <% @workorders.each do |wo| %>
              <tr>
                <td><%= image_tag wo.avatar(:small) %></td>
                <td><%= wo.name %></td>
                <td><%= image_tag wo.user.avatar(:small) %></td>
                <td><%= wo.user.lastname + " " + wo.user.name %></td>
                <td><%= wo.description %></td>
                <td>
                  <ul>
                    <% array = wo_hierachy(wo) %>
                    <% for i in 0..array.length-1 %>
                      <li><%= array[i] %></li>
                    <% end %>
                  </ul>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>