<div class="container-fluid">
  <%= form_for @workorder, html: {multipart: true}  do |f| %>
     <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
              
                <div class="panel-heading">
                  <%= link_to workorders_path(:parent_id => @workorder.parent_id) do %>
                    <i class="btn btn-primary glyphicon glyphicon-list"></i>
                  <% end %>
                  <b>workorder data</b>
                </div>
                
                <div class="panel-body">
                  <% if @workorder.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@workorder.errors.count, "error") %> prohibited this workorder from being saved:</h2>
                      <ul>
                        <% @workorder.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  

                  <div class="form-group">
                    <%= f.label "Workorder" %><br/>
                    <%= f.text_field :name, autofocus: true, class:"form-control"%>
                  </div>
                  <div class="form-group">
                    <%= f.label "active" %>
                    <%= f.check_box :active, class:"form-control"%>
                  </div>
                  <div class="form-group">
                     <%= f.label "Responsibility" %><br/>
                        <%= f.number_field :user_id %>
                  </div>
                  <div class="form-group">
                    <%= f.label "Description" %><br/>
                    <%= f.text_area :description, rows: 5, class:"form-control"%>
                  </div>
                  <div class="form-group">
                     <%= f.label "Logo" %><br/>
                     <%= f.file_field :avatar, class:"form-control" %>
                  </div>
                  <div class="form-group">
                     <%= f.label "Start_date" %><br/>
                     <%= f.text_field :start_date, class:"form-control" %>
                  </div>
                  <div class="form-group">
                     <%= f.label "end_date" %><br/>
                     <%= f.text_field :end_date, class:"form-control" %>
                  </div>
                  <div class="form-group">
                     <%= f.label "Adress" %><br/>
                     <%= f.text_field :adress1, class:"form-control" %>
                     <%= f.text_field :adress2, class:"form-control" %>
                     <%= f.text_field :adress3, class:"form-control" %>
                  </div>
                  <div class="form-group">
                     <%= f.label "Phone" %><br/>
                     <%= f.text_field :phone1, class:"form-control" %>
                     <%= f.text_field :phone2, class:"form-control" %>
                  </div>
                  <div class="form-group">
                     <%= f.label "Cost Information" %><br/>
                     <%= f.text_field :costinfo1, class:"form-control" %>
                     <%= f.text_field :costinfo2, class:"form-control" %>
                  </div>
                  <div class="form-group">
                     <%= f.label "Budget" %><br/>
                     <%= f.number_field :budget, class:"form-control" %>
                  </div>
                  <div>
                      <%= f.hidden_field :parent_id, class:"form-control" %>
                      <%= f.hidden_field :company_id, class:"form-control" %>
                  </div>
                </div>
            </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-6">
            <div class="actions">
              <%= f.submit "Save",  class:"btn btn-primary btn-lg"%>
            </div>
            <div class="panel-footer">
              <p id="notice"><%= notice %></p>
            </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <% @tt=Timetrack.where("workorder_id=?", @workorder.id) %>
  <div class="panel-heading">
    <%= content_tag :div, "", id: "reports_chart",  data: {reports: @tt} %>
  </div>

</div>