<p id="notice"><%= notice %></p>

<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
      <h1>Listing Workorders</h1>
      <%= link_to new_workorder_path(:parent_id => $current_parent_id) do %>
        <i class="btn btn-primary glyphicon glyphicon-plus"></i>
      <% end %>
      <br>
			<table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>logo</th>
            <th>name</th>
            <th colspan="2">responsibility</th>
            <th colspan="4"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @workorders.each do |wo| %>
            <tr>
              <td><%= image_tag wo.avatar(:small) %></td>
              <td><%= wo.name %></td>
              <td><%= image_tag wo.user.avatar(:small) %></td>
              <td><%= wo.user.userid %></td>
              <td>
                <ul class="nav nav-pills">
                  <li>
      				        <%= link_to accesses_path(:wo => wo.id, :wo_name => wo.name)  do %>
                        <i class="btn btn-primary glyphicon glyphicon-lock"></i><span class="badge pull-right"><%= wo.accesses.count %></span>
                      <% end %>
      				    </li>
      				    <li>
      				        <%= link_to wo do %>
                        <i class="btn btn-info glyphicon glyphicon-info-sign"></i>
                      <% end %>
      				    </li>
      	          <li>
      				        <%= link_to edit_workorder_path(wo) do %>
                        <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                      <% end %>
      				    </li>
          	      <li>
      				        <%= link_to wo, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                      <% end %>
      				    </li>
          	      <li>
      				        <%= link_to workorders_path(:parent_id => wo.id) do %>
                        <i class="btn btn-primary glyphicon glyphicon-tasks"></i><span class="badge pull-right"><%= Workorder.where("parent_id=?", wo.id).count %></span>
                      <% end %>
      				    </li>
      			    </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>