<p id="notice"><%= notice %></p>

<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">

        <div class="panel-heading">

          <div class="col-md-4">
            <% if @companies.count > 0 %>
              <%= link_to new_workorder_path(:parent_id => @pid, :company_id => @cid) do %>
                <i class="btn btn-primary glyphicon glyphicon-plus"></i>
              <% end %>
              <b>workorders</b>
           <% end %> 
          </div>
          <% if @pid == "0" %> 
            <div class="col-md-8">
              <%= form_tag (workorders_index_path method: :POST) do %>
                  <%= select_tag "company_id", options_from_collection_for_select(@companies, "id", "name", @cid), class:"form-control",:onchange => "this.form.submit();" %>
              <% end %>
            </div>
          <% end %>
          <br><br>
          
          <% pid = @pid.to_i %>
          <% parents = true %>
          <% counter = 1 %>
          <% wo_id = [] %>
          <% wo_name = [] %>
          <% wo_parent = [] %>
          <% while parents == true do %>
             <% w = Workorder.where("id=?", pid).first %>
             <% if w != nil %>

              <% wo_id << w.id %>
              <% wo_name << w.name %>
              <% wo_parent << w.parent_id %>

              <% pid = w.parent_id %>
              <% counter = counter + 1 %>

            <% else %>

              <% parents = false %>

            <% end %>
          <% end %>
          
          <% for i in (wo_id.length-1).downto(0) %>
              <%= "-" * (wo_id.length - i) + ">" %>
              <%= link_to workorders_path(:parent_id => wo_parent[i]) do %>
                <i class="btn btn-default glyphicon glyphicon-collapse-up"></i>
              <% end %>
              <b><%= wo_name[i] %></b><br>
          <% end %>

        </div>
      </div>

      <div class="panel panel-default">
  			<table class="table table-striped table-hover">
          <thead>
            <tr>
              <th colspan="2">company</th>
              <th colspan="4">workorder</th>
              <th colspan="3">responsibility</th>
              <th colspan="4"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @workorders.each do |wo| %>
                <tr>
                  <td>
                    <% if !wo.company.avatar_file_name %>
                      <%= image_tag("p_anonym.png", :size => "50x50", class:"img-rounded" ) %>
                    <% else %>
                      <%= image_tag wo.company.avatar(:small), class:"img-rounded"  %>
                    <% end %>
                  </td>
                  <td>
                      <%= wo.company.name %>
                  </td>
                  <td>
                  <% if !wo.avatar_file_name %>
                    <%= image_tag("s_anonym.jpg", :size => "50x50", class:"img-rounded" ) %>
                  <% else %>
                    <%= image_tag wo.avatar(:small), class:"img-rounded"  %>
                  <% end %>
                  </td>
                  <td><%= wo.name %></td>
                  <td><%= wo.start_date.strftime("%d.%m.%Y") %></td>
                  <td><%= wo.end_date.strftime("%d.%m.%Y") %></td>
                  <td>
                  <% if !wo.user.avatar_file_name %>
                    <%= image_tag("ma_anonym.png", :size => "50x50", class:"img-circle") %>
                  <% else %>
                    <%= image_tag wo.user.avatar(:small), class:"img-circle" %>
                  <% end %>
                  </td>
                  <td><%= wo.user.lastname + " " + wo.user.name %></td>                  
                  <td><%= wo.user.email %></td>
                  <td>
                    <ul class="nav nav-pills">
                      <li>
          				        <%= link_to accesses_path(:workorder_id => wo.id)  do %>
                            <i class="btn btn-default glyphicon glyphicon-user"></i><span class="badge pull-right"><%= wo.accesses.count %></span>
                          <% end %>
          				    </li>
              	      <li>
          				        <%= link_to workorders_path(:parent_id => wo.id, :company_id => wo.company_id) do %>
                            <i class="btn btn-default glyphicon glyphicon-list"></i><span class="badge pull-right"><%= Workorder.where("parent_id=?", wo.id).count %></span>
                          <% end %>
          				    </li>
          	          <li>
          				        <%= link_to edit_workorder_path(wo) do %>
                            <i class="btn btn-default glyphicon glyphicon-wrench"></i>
                          <% end %>
          				    </li>
              	      <li>
          				        <%= link_to wo, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                          <% end %>
          				    </li>
          			    </ul>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>