<p id="notice"><%= notice %></p>

<!-- build a container for every Project -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                    <% @workorders.each do |wo| %>
                        <div class="col-md-4">
    				    <div class="thumbnail">
                            <%= image_tag wo.avatar.url(:medium) %>
    					    <div class="caption">
  	    				        <blockquote>
		    			          <h3><%= wo.name %></h3>
        	    		          <p><%= wo.description %></p>
  	                            </blockquote>
                                <ul class="nav nav-pills">
	                              <li class="active">
	                                  <%= link_to timetracks_path do %>
                                        <i class="glyphicon glyphicon-pencil"></i><span class="badge pull-right"><%= wo.timetracks.count %></span> Report 
                                      <% end %>
                 		          </li>
                    		      <li>
		                              <%= link_to wo do %>
                                        <i class="glyphicon glyphicon-info-sign"></i> Show
                                      <% end %>
	                              </li>
	                            </ul>
	                        </div>
  				        </div>
  				        </div>
      			    <% end %>
      		</div>
	    </div>
    </div>
</div>	