<h1>Home#dashboard</h1>

<!--<p><%= $str %></p>-->

<%= javascript_include_tag 'dashing/application' %>
<%= stylesheet_link_tag 'dashing/application' %>

<div class="gridster">
<ul>
<% row = 0 %>
<% wo = Workorder.where("parent_id=? and user_id=?", 0, $logon_user_id) %>
<% wo.each do |w| %>
  <% row = row + 1 %>
  <% id = w.id.to_s %>
  <% title = w.name %>
  <% info = "wo_info"+id %>
  <li data-row=<%= row.to_s %> data-col="1" data-sizex="3" data-sizey="1">
    <div data-id="<%= info %>" data-view="Text" data-title="Workorder" data-text="<%= title %>" data-moreinfo="<%= title %>" ></div>
  </li>
  <% row = row + 1 %>
  <% reft = "wo_time"+id %>
  <% refb = "wo_budget"+id %>
  <li data-row=<%= row.to_s %> data-col="1" data-sizex="1" data-sizey="1">
    <div data-id=<%= reft %> data-view="Meter" data-title="time" data-min="0" data-max="100"></div>
  </li>
  <li data-row=<%= row.to_s %> data-col="2" data-sizex="1" data-sizey="1">
    <div data-id=<%= refb %> data-view="Meter" data-title="budget" data-min="0" data-max="100"></div>
  </li>
    <!--<li data-row=<%= row.to_s %> data-col="3" data-sizex="1" data-sizey="1">-->
    <!--  <div data-id="company3" data-view="Meter" data-title="Test" data-min="0" data-max="100"></div>-->
    <!--</li>-->

<% end %>
</ul>
</div>

<!--<%= r=dash %>-->
