<div class="container-fluid">

    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <anzeigetext>
          xConnect - DAS regionale Portal<br>
          </anzeigetext>
        </div>
        <br><br><br>
        <div class="col-md-3">
          <div class="media">
            <div class="media-left">
              <%= link_to users_path do %>
                <%= image_tag('user_a.png', :size => "50x50") %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Personen</h4>
                Suchen und Finden Sie Personen in Ihrer Umgebung...
            </div>
          </div>
        </div>
        <div class="col-md-3">          
          <div class="media">
            <div class="media-left">
              <%= link_to companies_path do %>
                <%= image_tag('company_a.png', :size => "50x50") %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Institutionen</h4>
                Suchen und Finden Sie Institutionen in Ihrer Umgebung...
            </div>
          </div>
        </div>
        <div class="col-md-3">          
          <div class="media">
            <div class="media-left">
              <%= link_to offer_index2_path do %>
                <%= image_tag('service_a.png', :size => "50x50") %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Produkte & Dienstleistungen</h4>
                Suchen und Finden Sie Dienstleistungen von Privatpersonen & Institutionen in Ihrer Umgebung...
            </div>
          </div>
        </div>
        <div class="col-md-3">          
          <div class="media">
            <div class="media-left">
              <%= link_to offer_index_path do %>
                <%= image_tag('action_a.png', :size => "50x50") %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Aktionen</h4>
                Sparen Sie geld und profitieren Sie von Aktionen in Ihrer Umgebung...
            </div>
          </div>
        </div>
      </div>
      <br>
      
      <div class="row">
        <div class="col-md-3">          
          <div class="media">
            <div class="media-left">
              <%= link_to bids_path do %>
                <%= image_tag('bid_a.png', :size => "50x50") %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Ausschreibungen</h4>
                Schreiben Sie Ihre Vorhaben aus und prüfen Angebote aus Ihrer Umgebung...
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="media">
            <div class="media-left">
              <%= link_to requests_path, :rtype=>"biete" do %>
                <%= image_tag('request_a.png', :size => "50x50") %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Kleinanzeigen</h4>
                Geben Sie Ihre Kleinanzeigen, egal ob Sie etwas suchen oder etwas hergeben oder sogar etwas verschenken wollen...
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="media">
            <div class="media-left">
              <%= link_to jobs_path do %>
                <%= image_tag('request_a.png', :size => "50x50") %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Stellenanzeigen</h4>
                Finden Sie eine neue Stelle, egal ob befristet oder unbefristet...
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="media">
            <div class="media-left">
              <%= link_to vehicles_path do %>
                <%= image_tag('vehicle_a.png', :size => "50x50") %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Leihen & Verleihen</h4>
                Warum immer kaufen? Hier können Sie leihen und Ihre eigenen Mobilen verleihen...
            </div>
          </div>
        </div>
      </div>
      <br>
        
      <div class="row">
        <div class="col-md-3">          
          <div class="media">
            <div class="media-left">
              <%= link_to events_path do %>
                <%= image_tag('event_a.png', :size => "50x50") %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Veranstaltungen</h4>
                Schauen Sie in den Veranstaltungskalender und Besuchen Sie Veranstaltungen in Ihrer Region...
            </div>
          </div>
        </div>

        <div class="col-md-3">          
          <div class="media">
            <div class="media-left">
              <%= link_to hotspots_path do %>
                <%= image_tag('hotspot_a.png', :size => "50x50") %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Sehenswürdigkeiten</h4>
                Kennen Sie die Region. Besuchen Sie die Sehenswürdigkeiten und bewerten die Lokationen oder geben eigenen Tipps...
            </div>
          </div>
        </div>

        <div class="col-md-3">          
          <div class="media">
            <div class="media-left">
              <%= link_to donations_path do %>
                <%= image_tag('donation_a.png', :size => "50x50") %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Spendeninitiativen</h4>
                Sehen Sie sich die Spendeninitiativen an und spenden Sie für einen guten Zweck...
            </div>
          </div>
        </div>
      </div>
      
    </div>
</div>