
 <div class="row">
    <action>
    <%= action_buttons("Event", @event, @topic) %>
    </action>
  </div>

  <div class="row">
    <header>
    <%= header("Veranstaltung " + @event.name, true) %>
    </header>
  </div>
  
  <div class="row">
      <div class='col-xs-10'>

      <% case @topic %>
        <% when "Eventinformation" %>
          <%= header("Informationen", false) %>
          <div class="panel-body">
            <%= carousel2(@event.event_details, :medium) %>
      			</p>
            <br><br>
            <b>Veranstaltungssdatum von-bis:</b><br>
            <%= @event.date_from.strftime("%d.%m.%Y") %> - <%= @event.date_to.strftime("%d.%m.%Y") %>
            <br><br>
            <b>Beschreibung</b><br>
      			<%= @event.description %>
            <br><br>
            <b>Kategorie</b><br>
      			<%= @event.ev_category.name %>
            <br><br>
            <% if @event.homepage != nil %>
              <%= link_to url_with_protocol(@event.homepage), :target => '_blank' do %>
                <i class="glyphicon glyphicon-home"></i> <%= url_with_protocol(@event.homepage) %>
              <% end %>
            <% end %>
            <br><br>
            <b>durchgeführt von:</b><br>
            <% if @event.user_id != nil %>
              <%= showImage("User", :small, @event.user) %>
              <%= @event.user.name + " " + @event.user.lastname %>
            <% end %>
            <% if @event.company_id != nil %>
              <%= showImage("Company", :small, @event.company) %>
              <%= @event.company.name %>
            <% end %>
      			<br><br>
            <%= @event.created_at.strftime("%d.%m.%Y") %>
          </div>
      <% end %>

      <% case @topic %>
        <% when "Eventdetail" %>
          <%= header("Details", false) %>
          <div class="panel-body">
        		<% @event.event_details.each do |ed| %>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail" align="center">
          				<% if ed.avatar_file_name == nil %>
                    <%= image_tag("event_a.png", :size => "200x200", class:"img-rounded" ) %>
                  <% else %>
                    <%= image_tag ed.avatar(:medium), class:"img-rounded"  %>
                  <% end %>
                  <br>
                  <anzeigetext>
        						<%= ed.name %><br>
                  </anzeigetext>
                  <br>
                  <ntext>
      						<%= ed.description %>
                  </ntext>
                  <br><br>
                  <% if user_signed_in? %>
                    <% if @event.user_id != nil %>
                      <% if current_user.id == @event.user_id %>
              	        <%= link_to edit_event_detail_path(ed) do %>
                          <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                        <% end %>
              	        <%= link_to ed, method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if @event.company_id != nil %>
                      <% if current_user.id == @event.company.user_id %>
              	        <%= link_to edit_event_detail_path(ed) do %>
                          <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                        <% end %>
              	        <%= link_to ed, method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <br><br>
        			  </div>
        			</div>
        		<% end %>
          </div>
      <% end %>

      <% case @topic %>
        <% when "Eventsponsor" %>
          <%= header("Sponsoren", false) %>
          <div class="panel-body">
            <% @event.sponsors.each do |cs| %>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail" align="center">
                  <%= link_to cs.company do %>
            				<% if cs.company.avatar_file_name == nil %>
                      <%= image_tag("company_a.png", :size => "200x200", class:"img-rounded" ) %>
                    <% else %>
                      <%= image_tag cs.company.avatar(:medium), class:"img-rounded"  %>
                    <% end %>
                  <% end %>
                  <br>
                  <anzeigetext>
        						<%= cs.company.name %><br>
                  </anzeigetext>
                  <br>
                  <ntext>
                  <%= cs.company.category.name %>
                  </ntext>
                  <br>
          				<% case cs.slevel %>
          				  <% when "1" %>
                      <%= image_tag("Sponsor_gold.jpg", :size => "200x200", class:"img-rounded" ) %>
          				  <% when "2" %>
                      <%= image_tag("Sponsor_silver.jpg", :size => "200x200", class:"img-rounded" ) %>
          				  <% when "3" %>
                      <%= image_tag("Sponsor_bronze.jpg", :size => "200x200", class:"img-rounded" ) %>
                  <% end %>
      						<br><br>
                  <% if user_signed_in? %>
                    <% if cs.company.user_id != nil %>
                      <% if current_user.id == cs.company.user_id %>
                        <%= link_to tickets_path :sponsor_id => cs.id do %>
                          <i class="btn btn-primary btn-lg glyphicon glyphicon-credit-card"></i>
                        <% end %>
              	        <%= link_to edit_sponsor_path(cs) do %>
                          <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                        <% end %>
              	        <%= link_to cs, method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <br><br>
                </div>
              </div>
            <% end %>
          </div>
      <% end %>

      <% case @topic %>
        <% when "Eventstandort" %>
          <%= header("Standort", false) %>
          <div class="panel-body">
            <div id="map">
              <div id="map-canvas"></div>
            </div>
          </div>
      <% end %>
    </div>
    
      <div class='col-xs-2'>
        <%= navigate("Event", @event) %>
      </div>
    
  </div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @event.latitude %>,
          "lng": <%= @event.longitude %>,
          "infowindow": "<%= @event.name %>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
});
</script>

<script type="text/javascript">
    $('.bxslider').bxSlider({
      mode: 'fade',
      auto: true,
      speed:1000,
      controls: false
  });
</script>


<!--<script>-->
<!--$(document).ready(function(){-->
<!--  $("header").mouseenter(function() {-->
<!--    $("navigate").show();-->
<!--    $("action").show();-->
<!--  });-->
<!--})-->
<!--$(document).ready(function(){-->
<!--  $("navigate").mouseleave(function() {-->
<!--    $("navigate").hide()-->
<!--    $("action").hide();-->
<!--  });-->
<!--})</script>-->