<%= form_for(@user_position) do |f| %>
  <% if @user_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_position.errors.count, "error") %> prohibited this user_position from being saved:</h2>

      <ul>
      <% @user_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, :id => "latitude_f" %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, :id => "longitude_f" %>
  </div>
  <div class="field">
    <%= f.label :geo_address %><br>
    <%= f.text_field :geo_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  <div style='width: 800px;'>
    <div id="geolocation" style='width: 800px; height: 400px;'></div>
  </div>


<script>
var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'geolocation'} }, function(){
  // be aware chrome >= 50 requires https for geolocation to work
  if(navigator.geolocation)
    navigator.geolocation.getCurrentPosition(displayOnMap);
});

function displayOnMap(position){
  var marker = handler.addMarker({
    lat: position.coords.latitude,
    lng: position.coords.longitude
  });
   handler.map.centerOn(marker);
   alert(position.coords.latitude+" "+position.coords.longitude);
   $("#latitude_f").val(position.coords.latitude);
   $("#longitude_f").val(position.coords.longitude);
};
</script>

<script>
$("#latitude_f").val(10.1);
$("#longitude_f").val(0.5);
</script>

<script>
function getLocation() {
    if(navigator.geolocation {
      navigator.geolocation.getCurrentPosition(geoSuccess, geoError);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }
</script>

<script>
function geoSuccess(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    alert("lat:" + lat + " lng:" + lng);
}
function geoError() {
    alert("Geocoder failed.");
}
</script>


