<div class="container-fluid">
  
	<div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
		    <% if user_signed_in? %>
		        <%= link_to searches_path :search_domain => "Kleinanzeigen", :controller_name => controller_name do %>
		          <i class="btn btn-primary glyphicon glyphicon-filter"></i>
		        <% end %>
		    <% end %>
        KLEINANZEIGEN (<%= session[:rtype] %>)
        <span class="badge"><%= @reqanz %></span>
        </li_header>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-12">
      <div class="digg_pagination">
          <%= will_paginate @requests, :container => false, previous_label: "<", next_label: ">" %>
      </div>
  </div>
  
  <% @requests.each do |req| %>
    <div class="col-sm-6 col-md-4 col-lg-3">
      
        <div class="thumbnail" align="center">
          <br>
          <% if req.date_to != nil %>
            <p>
              <b><ntext>noch </ntext></b><restlaufzeit><%= (req.date_to.to_date - DateTime.now.to_date).to_i.to_s %></restlaufzeit> <b><ntext> Tage</ntext></b>
            </p>
          <% end %>
          <p>
          <% if req.request_details.count > 0 %>
              <%= carousel(req.request_details, "thumb") %>
            <% else %>
              <%= image_tag("request_a.png", :size => "100x100", class:"img-rounded" ) %>
    			<% end %>
    			</p>
          <div class="caption">
              <anzeigetext>
      					<%= session[:rtype] + " " +  req.name %>
      				</anzeigetext><br>
  					<% if !req.social %>
  					  <% if req.price %>
    					  <preis>
    					    <%= sprintf("%05.2f CHF",req.price) %>
    					  </preis>
    					 <% end %>
    				<% else %>
                <% image_tag("helpinghand.png", :size => "50x50" , class:"img-rounded") %>
                <preis>
                  <i class="glyphicon glyphicon-heart"></i>
                </preis>
            <% end %>
            <p>
              <ntext>
    				  <%= req.description %>
              </ntext>
            </p>
    			</div>
  
          <p>
          <% if !req.user.anonymous %>
            <% if req.user.avatar_file_name == nil %>
              <%= image_tag("user_a.png", :size => "50x50", class:"img-rounded" ) %>
            <% else %>
              <%= image_tag req.user.avatar(:small), class:"img-rounded"  %><br>
              <%= req.user.name + " " + req.user.lastname %><br>
            <% end %>
          <% end %>
  
          <ntext>
    		  <%= req.created_at.strftime("%d.%b.%Y %H:%M Uhr") %>
    		  <% if req.created_at.to_date == Date.today %>
    		    Heute
    		  <% end %>
    		  <% if (Date.today - req.created_at.to_date) == 1 %>
    		    Gestern
    		  <% end %>
    		  <% if Date.today - req.created_at.to_date > 1 %>
            <% anz = (Date.today.to_date - req.created_at.to_date).to_i %>
            Vor <%= anz %> Tagen
    		  <% end %>
          </ntext>    		  
          </p>
    
    			<p>
            <%= link_to request_path(:id => req.id, :request_id => req.id) do %>
              <i class="btn btn-primary btn btn-lg glyphicon glyphicon-info-sign"></i>
            <% end %>
    		</div>

		</div>
  <% end %>
</div>