<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
        <div class="panel-heading header">
          <li_header>
              KLEINANZEIGE <%= @request.name %>
          </li_header>
        </div>
        <div class="panel-body">
          <%= link_to requests_path :rtype => session[:rtype], :page => session[:page] do %>
            <i class="btn btn-primary btn-lg glyphicon glyphicon-list"></i>
          <% end %>
          <% if user_signed_in? %>
  	        <%= link_to new_webmaster_path :object_name => "Request", :object_id => @request.id, :user_id => current_user.id do %>
              <i class="btn btn-warning btn-lg glyphicon glyphicon-eye-open pull-right"></i>
            <% end %>
            <% if current_user.id == @request.user_id %>
    	        <%= link_to edit_request_path(@request) do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
              <% end %>
    	        <%= link_to @request, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="btn btn-danger btn-lg glyphicon glyphicon-trash pull-right"></i>
              <% end %>
            <% end %>
            <% if @request.rtype == "biete" %>
              <% @user_id = current_user.id %>
              <% @user_id2 = @request.user_id %>
              <%= link_to new_transaction_path :ref => @request.name, :object_name => "Request", :object_id => @request.id, :user_id => @user_id, :user_id2 => @user_id2, :company_id => nil, :company_id2 => nil, :amount => @request.price do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-euro"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="panel-body">
          <% if @request.request_details != nil %>
            <%= carousel(@request.request_details, "medium") %>
          <% else %>
            <%= image_tag("request_a.png", :size => "200x200", class:"img-rounded" ) %>
          <% end %>
          <br><br>
          
				  <% if !@request.social and @request.price %>
            <preiss><b><%= sprintf("%05.2f CHF", @request.price) %></b></preiss>
					<% else %>
					  <preiss><b><i class='glyphicon glyphicon-heart'></i></b></preiss>
					<% end %>
          <br><br>

          <% if @request.date_to != nil %>
              <b><ntext>noch </ntext></b><restlaufzeits><%= (@request.date_to.to_date - DateTime.now.to_date).to_i.to_s %></restlaufzeits> <b><ntext> Tage</ntext></b>
          <% end %>
          <br><br>
          
          <b>Beschreibung</b><br>
    			<%= @request.description %>
          <br><br>
          <b>aufgegeben von:</b><br>
          <%= link_to @request.user do %>
            <% if !@request.user.avatar_file_name %>
              <%= image_tag("user_a.png", :size => "100x100" , class:"img-rounded") %>
            <% else %>
              <%= image_tag @request.user.avatar(:thumb), class:"img-rounded" %>
            <% end %><br>
            <%= @request.user.name + " " + @request.user.lastname %>
          <% end %>
    			<br><br>
          <%= @request.created_at.strftime("%d.%m.%Y") %>
        </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
          <% if user_signed_in? %>
            <% if current_user.id == @request.user_id %>
              <%= link_to new_request_detail_path :request_id => @request.id do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
          ZUSATZINFORMATIONEN
        </li_header>
      </div>
      <div class="panel-body">
      		<% @request.request_details.each do |bd| %>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail" align="center">
                <anzeigetext>
      						<%= bd.name %>
                </anzeigetext>
        				<% if bd.avatar_file_name == nil %>
                  <%= image_tag("bid_a.png", :size => "200x200", class:"img-rounded" ) %>
                <% else %>
                  <%= image_tag bd.avatar(:medium), class:"img-rounded"  %>
                <% end %>
                <p>
                <ntext>
    						<%= bd.description %>
    						</ntext>
    						</p>
                <% if user_signed_in? %>
                  <% if current_user.id == @request.user_id %>
          	        <%= link_to edit_request_detail_path(bd) do %>
                      <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                    <% end %>
          	        <%= link_to bd, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                    <% end %>
                  <% end %>
                <% end %>
                <br><br>
      			  </div>
      			</div>
      		<% end %>
    	</div>
    </div>
  </div>
  <br>
</div>