
  <div class="row">
    <action>
    <%= action_buttons("Request", @request, @topic) %>
    </action>
  </div>

  <div class="row">
    <header>
    <%= header("Anzeige "+ @request.name, true) %>
    </header>
  </div>
  
  <div class="row">
      <div class='col-xs-10'>

      <% case @topic %>
        <% when "Requestinformation" %>
          <%= header("Informationen", false) %>
          <div class="panel-body">
            <% if @request.request_details != nil %>
              <%= carousel(@request.request_details, "medium") %>
            <% else %>
              <%= image_tag("request_a.png", :size => "200x200", class:"img-rounded" ) %>
            <% end %>
            <br><br>
            
  				  <% if !@request.social and @request.price %>
              <preiss><b><%= sprintf("%05.2f CHF", @request.price) %></b></preiss>
  					<% else %>
  					  <preiss><b><i class='glyphicon glyphicon-heart'></i></b></preiss>
  					<% end %>
            <br><br>
  
            <% if @request.date_to != nil %>
                <b><ntext>noch </ntext></b><restlaufzeits><%= (@request.date_to.to_date - DateTime.now.to_date).to_i.to_s %></restlaufzeits> <b><ntext> Tage</ntext></b>
            <% end %>
            <br><br>
            
            <b>Beschreibung</b><br>
      			<%= @request.description %>
            <br><br>
            <b>aufgegeben von:</b><br>
            <%= showImage("User", :small, @request.user) %>
            <%= @request.user.name + " " + @request.user.lastname %>
      			<br><br>
            <%= @request.created_at.strftime("%d.%m.%Y") %>
          </div>
      <% end %>

      <% case @topic %>
        <% when "Requestdetail" %>
          <%= header("Details", false) %>
          <div class="panel-body">
       		<% @request.request_details.each do |bd| %>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail" align="center">
          				<% if bd.avatar_file_name == nil %>
                    <%= image_tag("no_pic.jpg", :size => "200x200", class:"img-rounded" ) %>
                  <% else %>
                    <%= image_tag bd.avatar(:medium), class:"img-rounded"  %>
                  <% end %>
                  <br>
                  <anzeigetext>
        						<%= bd.name %>
                  </anzeigetext>
                  <br>
                  <ntext>
      						<%= bd.description %>
      						</ntext>
      						<br>
                  <% if user_signed_in? %>
                    <% if current_user.id == @request.user_id %>
            	        <%= link_to edit_request_detail_path(bd) do %>
                        <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                      <% end %>
            	        <%= link_to bd, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                  <br><br>
        			  </div>
        			</div>
        		<% end %>
          </div>
      <% end %>
  </div>  
      <div class='col-xs-2'>
        <%= navigate("Request", @request) %>
      </div>
</div>
<!--<script>-->
<!--$(document).ready(function(){-->
<!--  $("header").mouseenter(function() {-->
<!--    $("navigate").show();-->
<!--    $("action").show();-->
<!--  });-->
<!--})-->
<!--$(document).ready(function(){-->
<!--  $("navigate").mouseleave(function() {-->
<!--    $("navigate").hide()-->
<!--    $("action").hide();-->
<!--  });-->
<!--})</script>-->
