
	<div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <% if !@event.avatar_file_name %>
            <%= image_tag("event_a.png", :size => "50x50", class:"img-rounded" ) %>
          <% else %>
            <%= image_tag @event.avatar(:medium), class:"img-rounded"  %>
          <% end %>
          <h1>
          <%= link_to events_path :page => session[:page] do %>
          <i class="btn btn-primary glyphicon glyphicon-list"></i>
          <% end %>
          <%= link_to new_sponsor_path :event_id => @event.id do %>
            <i class="btn btn-primary glyphicon glyphicon-plus"></i>
          <% end %>
          Sponsoren des Events <%=@event.name %>
          </h1>
        </div>
      </div>
    </div>
  </div>
	<div class="row">
    <% @sponsors.each do |sp| %>
      <div class="col-md-3">
    		<div class="thumbnail" align="center">
          <% if !sp.company.avatar_file_name %>
            <%= image_tag("company_a.png", :size => "300x300", class:"img-rounded" ) %>
          <% else %>
            <%= image_tag sp.company.avatar(:medium), class:"img-rounded" %>
          <% end %>
					<div class="caption">
						<h3>
							<%= sp.company.name %>
						</h3>
						<p>
            <% if sp.company.homepage != nil %>
              <%= link_to url_with_protocol(sp.company.homepage), :target => '_blank' do %>
                <i class="btn btn-default glyphicon glyphicon-home"></i>
              <% end %>
            <% end %>
						</p>
					</div>
					<% if user_signed_in? %>
  	        <%= link_to edit_sponsor_path(sp) do %>
              <i class="btn btn-default glyphicon glyphicon-wrench"></i>
            <% end %>
		        <%= link_to sp, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="btn btn-danger glyphicon glyphicon-trash"></i>
            <% end %>
          <% end %>
			   </div>
			 </div>
    <% end %>
  </div>
