<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
        <div class="panel-heading header">
          <li_header>
              <% if @donation.dtype == "Donation" %>
                SPENDENINITIATIVE 
              <% end %>
              <% if @donation.dtype == "Reward" %>
                CROWDFUNDING Belohnung 
              <% end %>
              <% if @donation.dtype == "Loan" %>
                CROWDFUNDING Zins 
              <% end %>
              <%= @donation.name %>
          </li_header>
        </div>
        <div class="panel-body">
          <%= link_to donations_path :dtype => @donation.dtype, :page => session[:page] do %>
            <i class="btn btn-primary btn-lg glyphicon glyphicon-list"></i>
          <% end %>
          <% if user_signed_in? %>
            <% if (@donation.company_id and current_user.id == @donation.company.user_id) or (@donation.user_id and current_user.id == @donation.user_id) %>
      	        <%= link_to edit_donation_path(@donation) do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                <% end %>
      	        <%= link_to @donation, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="btn btn-danger btn-lg pull-right glyphicon glyphicon-trash"></i>
                <% end %>
            <% end %>
  	        <%= link_to new_webmaster_path :object_name => "Donation", :object_id => @donation.id, :user_id => current_user.id do %>
              <i class="btn btn-warning btn-lg pull-right glyphicon glyphicon-eye-open"></i>
            <% end %>
          <% end %>
        </div>
        <div class="panel-body">
          <p>
          <% if @donation.donation_details.count > 0 %>
              <%= carousel(@donation.donation_details, "medium") %>
            <% else %>
              <%= image_tag("donation_a.png", :size => "200x200", class:"img-rounded" ) %>
    			<% end %>
    			</p>
          <b>Beschreibung</b><br>
    			<%= @donation.description %>
          <br><br>
          <% case @donation.dtype %>
            <% when "Donation" %>
              <b>Spendenziel</b><br>
              <%= sprintf("%05.2f CHF", @donation.amount) %>
              <br>
            <% when "Reward" %>
              <b>Projektziel</b><br>
              <%= sprintf("%05.2f CHF", @donation.amount) %>
              <br><br>
              <b>St端ckelung</b><br>
              <%= sprintf("%05.2f CHF", @donation.price) %>
              <br><br>
              <b>Belohnung</b><br>
              <%= @donation.reward %>
              <br>
            <% when "Loan" %>
              <b>Kreditsumme</b><br>
              <%= sprintf("%05.2f CHF", @donation.amount) %>
              <br><br>
              <b>Zinssatz</b><br>
              <%= @donation.interest_rate %>%
              <br><br>
              R端ckzahlung am <%= @donation.due_date.strftime("%d.%m.%Y") %>
              <br>
          <% end %>
          <br>
          <b>initialisiert von:</b><br>
          <% if @donation.company_id %>
            <%= link_to @donation.company do %>
              <% if !@donation.company.avatar_file_name %>
                <%= image_tag("company_a.png", :size => "100x100" , class:"img-rounded") %>
              <% else %>
                <%= image_tag @donation.company.avatar(:thumb), class:"img-rounded" %>
              <% end %><br>
              <%= @donation.company.name %>
            <% end %>
          <% end %>
          <% if @donation.user_id %>
            <%= link_to @donation.user do %>
              <% if !@donation.user.avatar_file_name %>
                <%= image_tag("user_a.png", :size => "100x100" , class:"img-rounded") %>
              <% else %>
                <%= image_tag @donation.user.avatar(:thumb), class:"img-rounded" %>
              <% end %><br>
              <%= @donation.user.name + " " + @donation.user.lastname %>
            <% end %>
          <% end %>
    			<br><br>
          <%= @donation.created_at.strftime("%d.%m.%Y") %>
        </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
          <% if user_signed_in? %>
            <% if (@donation.company_id and current_user.id == @donation.company.user_id) or (@donation.user_id and current_user.id == @donation.user_id) %>
              <%= link_to new_donation_detail_path :mode => "private", :donation_id => @donation.id do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            ZUSATZINFORMATIONEN
        </li_header>
      </div>
      <div class="panel-body">
    		<% @donation.donation_details.each do |bd| %>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail" align="center">
      				<% if bd.avatar_file_name == nil %>
                <%= image_tag("donation_a.png", :size => "200x200", class:"img-rounded" ) %>
              <% else %>
                <%= image_tag bd.avatar(:medium), class:"img-rounded"  %>
              <% end %>
              <br>
              <anzeigetext>
    						<%= bd.name %><br>
              </anzeigetext>
              <ntext>
  						<%= bd.description %>
              </ntext>
              <br>
              <% if user_signed_in? %>
              <% if (@donation.company_id and current_user.id == @donation.company.user_id) or (@donation.user_id and current_user.id == @donation.user_id) %>
        	        <%= link_to edit_donation_detail_path(bd) do %>
                    <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                  <% end %>
        	        <%= link_to bd, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                  <% end %>
                <% end %>
              <% end %>
              <br><br>
    			  </div>
    			</div>
    		<% end %>
    	</div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
          <% if user_signed_in? %>
            <% if @donation.donation_stats.sum(:amount) < @donation.amount %> 
              <%= link_to new_donation_stat_path :donation_id => @donation.id, :dontype => "User" do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-user">+</i>
              <% end %>
              <% if Company.where('active=? and user_id=?',true,current_user.id).count > 0 %>
                <%= link_to new_donation_stat_path :donation_id => @donation.id, :dontype => "Company" do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-briefcase">+</i>
                <% end %>
              <% end %>
            <% else %>
              <% if (@donation.company_id and current_user.id == @donation.company.user_id) or (@donation.user_id and current_user.id == @donation.user_id) and @donation.dtype == "Reward" %>
                <%= link_to donation_path(@donation, :donation_trx_id => @donation.id) do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-euro"></i>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <% if @donation.dtype == "Donation" %>
            SPENDER
          <% end %>
          <% if @donation.dtype == "Reward" %>
            UNTERSTUETZER
          <% end %>
          <% if @donation.dtype == "Loan" %>
            KREDITGEBER
          <% end %>
          <%= sprintf("%05.2f CHF", @donation.donation_stats.sum(:amount)) %>
        </li_header>
      </div>
      <div class="panel-body">
        <% @donation.donation_stats.order(amount: :desc).each do |ds| %>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail" align="center">
    				  <% if ds.company_id != nil %>
                <%= link_to ds.company do %>
          				<% if ds.company.avatar_file_name == nil %>
                    <%= image_tag("company_a.png", :size => "200x200", class:"img-rounded" ) %>
                  <% else %>
                    <%= image_tag ds.company.avatar(:medium), class:"img-rounded"  %>
                  <% end %><br>
                <% end %>
      				  <%= ds.company.name %>
      				<% end %>
      				<% if ds.user_id != nil %>
      				  <%= link_to ds.user do %>
          				<% if ds.user.avatar_file_name == nil %>
                    <%= image_tag("user_a.png", :size => "200x200", class:"img-rounded" ) %>
                  <% else %>
                    <%= image_tag ds.user.avatar(:medium), class:"img-rounded"  %>
                  <% end %><br>
                <% end %>
      				  <%= ds.user.name + " " + ds.user.lastname  %>
      				<% end %>
      				<br><br>
      				<% if !ds.anonymous %>
      	        <% if ds.donation.dtype == "Donation" %>
                  <ntext>Spendenbetrag</ntext><br><preis><%= sprintf("%05.2f CHF", ds.amount) %></preis><ntext><br> am <%= ds.created_at.strftime("%d.%m.%Y") %></ntext>
                  <br><br>
                <% end %>
      	        <% if ds.donation.dtype == "Reward" %>
                  <ntext>Unterst端tzungsbetrag</ntext><br><preis><%= sprintf("%05.2f CHF", ds.amount) %></preis><ntext><br> am <%= ds.created_at.strftime("%d.%m.%Y") %></ntext>
                  <br><br>
                <% end %>
      	        <% if ds.donation.dtype == "Loan" %>
                  <ntext>Kreditbetrag</ntext><br><preis><%= sprintf("%05.2f CHF", ds.amount) %></preis><ntext><br> am <%= ds.created_at.strftime("%d.%m.%Y") %></ntext>
                  <br><br>
                <% end %>
              <% else %>
                  <betrag>*****.** CHF</betrag>
              <% end %>
              <br><br>
              <%= ds.created_at.strftime("%d.%m.%Y") %>
              <br><br>
              <% if user_signed_in? %>
                <% if (ds.user_id and current_user.id == ds.user_id) or (ds.company_id and current_user.id == ds.company.user_id) %>

                  <%= link_to listaccounts_index_path :user_id => current_user.id, :user_id_ver => nil, :company_id_ver => @donation.company_id, :ref => "Verg端tung an "+ @donation.name, :object_name => "Donation", :object_id => @donation.id, :amount => ds.amount do %>
                    <i class="btn btn-primary btn-lg glyphicon glyphicon-euro"></i>
                  <% end %>

        	        <%= link_to edit_donation_stat_path(ds) do %>
                    <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                  <% end %>
        	        <%= link_to ds, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                  <% end %>
                <% end %>
              <% end %>
              <br><br>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
</div>