<p id="notice"><%= notice %></p>
<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= link_to workorders_path(:company_id => 0, :parent_id => 0, :user_id => current_user.id) do %>
              <i class="btn btn-primary glyphicon glyphicon-list"></i>
          <% end %>
          <b>access to workorder</b>
          <%= form_tag :method => 'get' do %>
            <%= text_field_tag :suchfeld, @suchfeld, class:"form-control" %>
            <%= submit_tag "Search", class:"btn btn-default" %>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default">
  			<table class="table table-hover">
          <thead>
            <tr>
              <th colspan="2">name</th>
              <th>costrate</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @users.each do |u| %>
            
              <% found = false %>
              <!--check if access user in access array-->
              <% if @array.index(u.id) != nil %>
                <% found = true %>
                <% ac = Access.find(@array_id[@array.index(u.id)]) %>
              <% else %>
                <% ac = nil %>
              <% end %>
              <% if found %>
                <tr class="warning">
              <% else %>
                <tr>
              <% end %>
                <td>
                <% if found %>
                  <%= ac.costrate %>
                <% else %>
                  <%= u.costrate %>
                <% end %>
                </td>
                <td>
                <% if !u.avatar_file_name %>
                  <%= image_tag("ma_anonym.png", :size => "50x50", class:"img-circle") %>
                <% else %>
                  <%= image_tag u.avatar(:small), class:"img-circle" %>
                <% end %>
                </td>
                <td><%= u.email %></td>
                <td><%= u.lastname + " " + u.name %></td>             
                <td>
                  <ul class="nav nav-pills">
                    <% if found != true %>
          	          <li>
          				        <%= link_to new_access_path(:user_id => u.id, :workorder_id => @wid) do %>
                            <i class="btn btn-primary glyphicon glyphicon-plus"></i>
                          <% end %>
          				    </li>
          				  <% else %>
              	      <li>
          				        <%= link_to edit_access_path(ac) do %>
                            <i class="btn btn-default glyphicon glyphicon-wrench"></i>
                          <% end %>
          				    </li>
              	      <li>
          				        <%= link_to ac, method: :destroy, data: { confirm: 'Are you sure?' } do %>
                            <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                          <% end %>
          				    </li>
          				  <% end %>
        			    </ul>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>