<p id="notice"><%= notice %></p>

<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
      <h1>Listing Accesses</h1>
      <%= link_to users_choose_a_user_path do %>
        <i class="btn btn-primary glyphicon glyphicon-plus"></i>
      <% end %>
      <br>
			<table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>image</th>
            <th>email</th>
            <th>name</th>
            <th>costrate</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @accesses.each do |access| %>
            <tr>
              <% @u = User.find(access.user_id) %>
              <% if @u %>
                <td>
                  <% if @u.avatar.url %>
                    <%= image_tag @u.avatar.url(:small) %>
                  <% end %>
                </td>
                <td><%= @u.userid %></td>
                <td><%= @u.lastname + " " + @u.name %></td>
              <% end %> 
              <td><%= access.costrate %></td>
              <td>
                <ul class="nav nav-pills">
      				    <li>
      				        <%= link_to access do %>
                        <i class="btn btn-info glyphicon glyphicon-info-sign"></i>
                      <% end %>
      				    </li>
      	          <li>
      				        <%= link_to edit_access_path(access) do %>
                        <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                      <% end %>
      				    </li>
          	      <li>
      				        <%= link_to access, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                      <% end %>
      				    </li>
      			    </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>