<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= image_tag project.avatar(:small) %></td>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td>
          <ul class="nav nav-pills">
				    <li>
				        <%= link_to project do %>
                  <i class="btn btn-info glyphicon glyphicon-info-sign"></i>
                <% end %>
				    </li>
	          <li>
				        <%= link_to edit_project_path(project) do %>
                  <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                <% end %>
				    </li>
				    <li>
				        <%= link_to subprojects_path(:id => project.id) do %>
                  <i class="btn btn-primary glyphicon glyphicon-plus-sign"></i>
                <% end %>
				    </li>
	          <li>
				        <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                <% end %>
				    </li>
			    </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path(:id => $current_user_id) %>
