<div class="container-fluid">
    <%= form_for @company, html: {multipart: true}  do |f| %>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <%= link_to companies_path do %>
                    <i class="btn btn-primary glyphicon glyphicon-list"></i>
                  <% end %>
                  <b>company data</b>
                 </div>
                <div class="panel-body">
                      <% if @company.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>
                    
                          <ul>
                          <% @company.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>
                        <div class="form-group">
                          <%= f.label "Company" %><br/>
                          <%= f.text_field :name, autofocus: true, class:"form-control"%>
                        </div>
                        <div class="form-group">
                          <%= f.label "active" %>
                          <%= f.check_box :active, class:"form-control"%>
                        </div>
                         <%= f.hidden_field :user_id %>
                        <div class="form-group">
                          <%= f.label "Description" %><br/>
                          <%= f.text_area :description, rows: 5, class:"form-control"%>
                        </div>
                         <div class="form-group">
                           <%= f.label "Logo" %><br/>
                            <% if @company.avatar_file_name %>
                                <%= image_tag @company.avatar(:medium) %>
                            <% end %>
                           <%= f.file_field :avatar, class:"form-control" %>
                        </div>
                        <div class="form-group">
                           <%= f.label "Adress" %><br/>
                           <%= f.text_field :adress1, class:"form-control" %>
                           <%= f.text_field :adress2, class:"form-control" %>
                           <%= f.text_field :adress3, class:"form-control" %>
                        </div>
                        <div class="form-group">
                           <%= f.label "Phone" %><br/>
                           <%= f.text_field :phone1, class:"form-control" %>
                           <%= f.text_field :phone2, class:"form-control" %>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="actions">
              <%= f.submit "Save",  class:"btn btn-primary btn-lg"%>
            </div>
            <div class="panel-footer">
              <p id="notice"><%= notice %></p>
            </div>
        </div>
    </div>        
    <% end %>                
</div>