<p id="notice"><%= notice %></p>
<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h1>
        INSTITUTIONEN
        <span class="badge"><%= @companz %></span>
        </h1>
      </div>
    </div>
  </div>
	<div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
    		<!--<table class="table table-striped table-hover-->
    		<table class="table table-striped">
          <thead>
            
            <tr>
              <td colspan="2">
                <div class="digg_pagination">
                    <%= will_paginate @companies, :container => false, previous_label: "<", next_label: ">" %>
                </div>	  
              </td>
            </tr>
            
            <tr>
              <th colspan="3">Institution</th>
            </tr>

          </thead>
        
          <tbody>
            <% @companies.each do |comp| %>
              <tr>
                <td>
                <% if comp.services.where("social=?",true).count > 0 %>
                  <%= image_tag("helpinghand.png", :size => "50x50" , class:"img-rounded") %>
                <% end %>
                </td>
                <td>
                  <%= link_to comp do %>
                    <% if !comp.avatar_file_name %>
                      <%= image_tag("company_a.png", :size => "50x50" , class:"img-rounded") %>
                    <% else %>
                      <%= image_tag comp.avatar(:small), class:"img-rounded" %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <%= link_to comp do %>
                    <div class="anzeigetext">
                      <%= comp.name %><br>
                    </div>
                    <%= comp.address2 %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="col-md-6">
      <div id="map">
      </div>
    </div>

  </div>
</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
});
</script>