<a id="company">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
            INSTITUTION <%= @company.name %>
        </li_header>

        <% if @company.partner_links.count > 0 %>
          <%= link_to "#link" do %>
            <%= image_tag('link_a.png', :size => "50x50") %>
          <% end %>
        <% end %>
        <% if @company.services.count > 0 %>
          <%= link_to "#service" do %>
            <%= image_tag('service_a.png', :size => "50x50") %>
          <% end %>
        <% end %>
        <% if @company.services.count > 0 %>
          <%= link_to "#action" do %>
            <%= image_tag('action_a.png', :size => "50x50") %>
          <% end %>
        <% end %>
        <% if @company.vehicles.count > 0 %>
          <%= link_to "#vehicle" do %>
            <%= image_tag('vehicle_a.png', :size => "50x50") %>
          <% end %>
        <% end %>
        <% if @company.events.count > 0 %>
          <%= link_to "#event" do %>
            <%= image_tag('event_a.png', :size => "50x50") %>
          <% end %>
        <% end %>
        <% if @company.jobs.count > 0 %>
          <%= link_to "#job" do %>
            <%= image_tag('job_a.png', :size => "50x50") %>
          <% end %>
        <% end %>
        <% if @company.bid_documents.count > 0 %>
          <%= link_to "#bid" do %>
            <%= image_tag('bid_a.png', :size => "50x50") %>
          <% end %>
        <% end %>
        <% if @company.donations.count > 0 %>
          <%= link_to "#donation_initiative" do %>
            <%= image_tag('donation_initiative_a.png', :size => "50x50") %>
          <% end %>
        <% end %>
        <% if @company.donation_stats.count > 0 %>
          <%= link_to "#donation" do %>
            <%= image_tag('donation_a.png', :size => "50x50") %>
          <% end %>
        <% end %>
        <% if @company.user.favourits.count > 0 %>
          <%= link_to "#favourit" do %>
            <%= image_tag('favourit_a.png', :size => "50x50") %>
          <% end %>
        <% end %>
        <%= link_to "#location" do %>
          <%= image_tag('location_a.png', :size => "50x50") %>
        <% end %>

      </div>
      <div class="panel-body">
        <%= link_to companies_path :page => session[:page] do %>
          <i class="btn btn-primary btn-lg glyphicon glyphicon-list"></i>
        <% end %>
        <% if user_signed_in? %>
	        <%= link_to new_favourit_path :object_name => "Company", :object_id => @company.id, :user_id => current_user.id do %>
            <i class="btn btn-primary btn-lg glyphicon glyphicon-star"></i>
          <% end %>
	        <%= link_to new_webmaster_path :object_name => "Company", :object_id => @company.id, :user_id => current_user.id do %>
            <i class="btn btn-warning btn-lg pull-right glyphicon glyphicon-eye-open"></i>
          <% end %>
          <% if current_user.id == @company.user.id or current_user.superuser %>
            <%= link_to edit_company_path(@company) do %>
              <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
            <% end %>
  	        <%= link_to @company, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="btn btn-danger btn-lg pull-right glyphicon glyphicon-trash"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="panel-body">
				<% if @company.avatar_file_name == nil %>
          <%= image_tag("company_a.png", :size => "200x200", class:"img-rounded" ) %>
        <% else %>
          <%= image_tag @company.avatar(:medium), class:"img-rounded"  %>
        <% end %>
        <br>
        <b>Branche</b>
        <%= @company.category.name %>
        <br>
        <cite><%= @company.created_at.strftime("%d.%m.%Y") %></cite><br>
        <% if user_signed_in? %>
	        <%= link_to new_email_path :m_from_id => current_user.id, :m_to_id => @company.user.id, :header => @company.name, :back_url => request.original_url do %>
            <i class="btn btn-default glyphicon glyphicon-envelope"></i>
          <% end %>
        <% else %>
            <i class="glyphicon glyphicon-envelope"></i>
        <% end %>
        <%= @company.user.email %><br>
      </div>
    </div>
  </div>
  <br>

  <% if $activeapps.include?("Links") %>
  <a id="link">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user.id %>
              <% if @company.partner %>
                <%= link_to new_partner_link_path :company_id => @company.id do %>
                  <i class="btn btn-primary glyphicon glyphicon-plus"></i>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
            LINKS
        </li_header>
        <%= link_to "#company" do %>
          <%= image_tag('company_a.png', :size => "50x50", class: "pull-right") %>
        <% end %>
      </div>
      <div class="panel-body">
        <% @company.partner_links.each do |pl| %>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail" align="center">
                <anzeigetext>
                  <%= pl.name %><br>
                </anzeigetext>
                <ntext>
                <%= pl.link %>
                </ntext>
                <ntext>
                <%= align_text(pl.description) %>
                </ntext>
                <br>
                <% if pl.avatar_file_name == nil %>
                  <%= image_tag("link_a.png", :size => "200x200", class:"img-rounded" ) %>
                <% else %>
                  <%= image_tag pl.avatar(:medium), class:"img-rounded"  %>
                <% end %>
                <br>
                <%= link_to pl do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                <% end %>
                <% if user_signed_in? %>
                  <% if current_user.id == @company.user.id %>
                    <% if @company.partner %>
                      <%= link_to edit_partner_link_path(pl) do %>
                        <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                      <% end %>
                      <%= link_to pl, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                <br><br>
              </div>
             </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <% end %>

  <% if $activeapps.include?("Services") %>
  <a id="service">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user.id %>
              <%= link_to new_service_path :company_id => @company.id, :stype => "regular" do %>
                <i class="btn btn-primary glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            ANGEBOTE
        </li_header>
        <%= link_to "#company" do %>
          <%= image_tag('company_a.png', :size => "50x50", class: "pull-right") %>
        <% end %>
      </div>
      <div class="panel-body">
    		<% @company.services.where("stype=?","regular").each do |cs| %>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail" align="center">
                <anzeigetext>
      						<%= cs.name %><br>
                </anzeigetext>
                <ntext>
      				  <%= align_text(cs.description) %>
                </ntext>
                <br>
        				<% if cs.avatar_file_name == nil %>
                  <%= image_tag("service_a.png", :size => "200x200", class:"img-rounded" ) %>
                <% else %>
                  <%= image_tag cs.avatar(:medium), class:"img-rounded"  %>
                <% end %>
                <br>
      	        <%= link_to cs do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                <% end %>
                <br><br>
    			    </div>
    			   </div>
    		<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>

<% if $activeapps.include?("Aktionen") %>
  <a id="action">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user.id %>
              <%= link_to new_service_path :company_id => @company.id , :stype => "action" do %>
                <i class="btn btn-primary glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            AKTIONEN
        </li_header>
        <%= link_to "#company" do %>
          <%= image_tag('company_a.png', :size => "50x50", class: "pull-right") %>
        <% end %>
      </div>
      <div class="panel-body">
        <% @company.services.where("stype=?","action").each do |cs| %>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail" align="center">
                <anzeigetext>
      						<%= cs.name %><br>
                </anzeigetext>
                <ntext>
      				  <%= align_text(cs.description) %>
                </ntext>
                <br>
        				<% if cs.avatar_file_name == nil %>
                  <%= image_tag("action_a.png", :size => "200x200", class:"img-rounded" ) %>
                <% else %>
                  <%= image_tag cs.avatar(:medium), class:"img-rounded"  %>
                <% end %>
                <br>
                <preis><%= sprintf("%05.2f CHF", cs.price_new) if cs.price_new != nil %></preis><ntext><br> statt <%= sprintf("%05.2f CHF", cs.price_reg) if cs.price_reg != nil %></ntext><br>
                <br>
                <ntext>
                Aktion befristed vom <%= cs.date_from.strftime("%d.%m.%Y") %> bis <%= cs.date_to.strftime("%d.%m.%Y") %>
                </ntext>
                <br><br>
      	        <%= link_to cs do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                <% end %>
                <br><br>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <% end %>

  <% if $activeapps.include?("Mobilien") %>
  <a id="vehicle">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user.id %>
              <%= link_to new_vehicle_path(:company_id => @company.id) do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            MOBILIEN
        </li_header>
        <%= link_to "#company" do %>
          <%= image_tag('company_a.png', :size => "50x50", class: "pull-right") %>
        <% end %>
      </div>
      <div class="panel-body">
      		<% @company.vehicles.each do |cv| %>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail" align="center">
                <anzeigetext>
      						<%= cv.name %><br>
                </anzeigetext>
                <ntext>
      				  <%= align_text(cv.description) %>
                </ntext>
                <br>
        				<% if cv.avatar_file_name == nil %>
                  <%= image_tag("vehicle_a.png", :size => "200x200", class:"img-rounded" ) %>
                <% else %>
                  <%= image_tag cv.avatar(:medium), class:"img-rounded"  %>
                <% end %>
                <br>
                <ntext>
      				  <%= cv.mob_category.name %>
                </ntext>
      				  <br><br>
      	        <%= link_to cv do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                <% end %>
                <br><br>
      			  </div>
      			</div>
      		<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>

<% if $activeapps.include?("Ausschreibungen") %>
  <a id="bid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
            AUSSCHREIBUNGEN
        </li_header>
        <%= link_to "#company" do %>
          <%= image_tag('company_a.png', :size => "50x50", class: "pull-right") %>
        <% end %>
      </div>
      <div class="panel-body">
      		<% @company.bid_documents.each do |cbd| %>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail" align="center">
                <anzeigetext>
      						<%= cbd.bid.name %><br>
                </anzeigetext>
                <p>
                <ntext>
      				  <%= align_text(cbd.bid.description) %>
      				  </ntext>
      				  </p>
                <% if cbd.bid.bid_details != nil %>
                      <%= carousel(cbd.bid.bid_details, "medium") %>
                    <% else %>
                      <%= image_tag("bid_a.png", :size => "200x200", class:"img-rounded" ) %>
            		<% end %>
    						<br>
      	        <%= link_to cbd.bid do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                <% end %>
                <br><br>
      			  </div>
      			 </div>
      		<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>
  
  <% if $activeapps.include?("Stellenanzeigen") %>
  <a id="job">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user.id %>
              <%= link_to new_job_path(:company_id => @company.id) do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            STELLENANGEBOTE
        </li_header>
        <%= link_to "#company" do %>
          <%= image_tag('company_a.png', :size => "50x50", class: "pull-right") %>
        <% end %>
      </div>
      <div class="panel-body">
      		<% @company.jobs.each do |cj| %>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail" align="center">
                <anzeigetext>
      						<%= cj.name %><br>
                </anzeigetext>
                <p>
                  <ntext>
      						<%= align_text(cj.tasks) %>
      						</ntext>
    						</p>
        				<% if cj.company.avatar_file_name == nil %>
                  <%= image_tag("company_a.png", :size => "200x200", class:"img-rounded" ) %>
                <% else %>
                  <%= image_tag cj.company.avatar(:medium), class:"img-rounded"  %>
                <% end %>
    						<br>
      	        <%= link_to cj do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                <% end %>
                <br><br>
      			  </div>
      			</div>
      		<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>
  
  <% if $activeapps.include?("Veranstaltungen") %>
  <a id="event">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user_id %>
              <%= link_to new_event_path(:company_id => @company.id) do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            VERANSTALTUNGEN
        </li_header>
        <%= link_to "#company" do %>
          <%= image_tag('company_a.png', :size => "50x50", class: "pull-right") %>
        <% end %>
      </div>
      <div class="panel-body">
      		<% @company.events.each do |ce| %>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail" align="center">
                <anzeigetext>
      						<%= ce.name %><br>
                </anzeigetext>
                <p>
                <ntext>
    						<%= align_text(ce.description) %>
    						</ntext>
    						</p>
                <% if ce.event_details.count > 0 %>
                    <%= carousel(ce.event_details, "medium") %>
                  <% else %>
                    <%= image_tag("event_a.png", :size => "200x200", class:"img-rounded" ) %>
          			<% end %>
                <br>
                <ntext>
                <p>
      						<%= ce.ev_category.name %>
    						</p>
    						<br>
                <br>
                vom <%= ce.date_from.strftime("%d.%m.%Y") %> bis <%= ce.date_to.strftime("%d.%m.%Y") %>
                <br><br>
                </ntext>
      	        <%= link_to ce do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                <% end %>
                <br><br>
      			  </div>
      			 </div>
      		<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>

  <% if $activeapps.include?("Sponsoring") %>
  <a id="sponsor">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
            SPONSORING
        </li_header>
        <%= link_to "#company" do %>
          <%= image_tag('company_a.png', :size => "50x50", class: "pull-right") %>
        <% end %>
      </div>
      <div class="panel-body">
        <% @company.sponsors.each do |cs| %>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail" align="center">
              <anzeigetext>
    						<%= cs.event.name %><br>
              </anzeigetext>
              <ntext>
              <p>
  						<%= align_text(cs.event.description) %>
  						</p>
              <% if cs.event.event_details.count > 0 %>
                  <%= carousel(cs.event.event_details, "medium") %>
                <% else %>
                  <%= image_tag("event_a.png", :size => "200x200", class:"img-rounded" ) %>
        			<% end %>
              <br>
              <%= cs.event.ev_category.name %>
              <br>
      				<% case cs.slevel %>
      				  <% when "1" %>
                  <%= image_tag("Sponsor_gold.jpg", :size => "200x200", class:"img-rounded" ) %>
      				  <% when "2" %>
                  <%= image_tag("Sponsor_silver.jpg", :size => "200x200", class:"img-rounded" ) %>
      				  <% when "3" %>
                  <%= image_tag("Sponsor_bronze.jpg", :size => "200x200", class:"img-rounded" ) %>
              <% end %>
              <br>
              vom <%= cs.event.date_from.strftime("%d.%m.%Y") %> bis <%= cs.event.date_to.strftime("%d.%m.%Y") %>
              </ntext>
  						<br><br>
    	        <%= link_to cs.event do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
              <% end %>
              <% if user_signed_in? %>
                <% if current_user.id == cs.company.user_id %>
                  <%= link_to tickets_path :sponsor_id => cs.id do %>
                    <i class="btn btn-primary btn-lg glyphicon glyphicon-credit-card"></i>
                  <% end %>
        	        <%= link_to edit_sponsor_path(cs) do %>
                    <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                  <% end %>
        	        <%= link_to cs, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                  <% end %>
                <% end %>
              <% end %>
              <br><br>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <% end %>
  
  <% if $activeapps.include?("Spendeninitiativen") and @company.social %> 
  <a id="donation_initiative">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
          <% if @company.social %>
            <% if user_signed_in? %>
              <% if current_user.id == @company.user.id %>
                <%= link_to new_donation_path(:company_id => @company.id) do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
            SPENDENINITIATIVEN
        </li_header>
        <%= link_to "#company" do %>
          <%= image_tag('company_a.png', :size => "50x50", class: "pull-right") %>
        <% end %>
      </div>
      <div class="panel-body">
        <% @company.donations.each do |cds| %>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail" align="center">
              <anzeigetext>
    						<%= cds.name %><br>
              </anzeigetext>
              <p>
              <ntext>
  						<%= align_text(cds.description) %>
              </ntext>
  						</p>
              <% if cds.donation_details != nil %>
                    <%= carousel(cds.donation_details, "medium") %>
                  <% else %>
                    <%= image_tag("donation_a.png", :size => "200x200", class:"img-rounded" ) %>
          		<% end %>
              <br>
              <ntext>Spendenbetrag </ntext><preis><%= sprintf("%05.2f CHF", cds.donation_stats.sum(:amount)) %></preis>
              <br><br>
    	        <%= link_to cds do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
              <% end %>
              <br><br>
            </div>
          </div>
        <% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>

  <% if $activeapps.include?("Spenden") %>
  <a id="donation">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
            SPENDEN
        </li_header>
        <%= link_to "#company" do %>
          <%= image_tag('company_a.png', :size => "50x50", class: "pull-right") %>
        <% end %>
      </div>
      <div class="panel-body">
  	    <% @company.donation_stats.each do |cds| %>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail" align="center">
    					<%= cds.donation.company.name %>
              <anzeigetext>
    						<%= cds.donation.name %>
              </anzeigetext>
              <ntext>
              <p>
  						<%= align_text(cds.donation.description) %>
  						</p>
  						</ntext>
              <% if cds.donation.donation_details != nil %>
                    <%= carousel(cds.donation.donation_details, "medium") %>
                  <% else %>
                    <%= image_tag("donation_a.png", :size => "200x200", class:"img-rounded" ) %>
          		<% end %>
              <br>
              <ntext>Spendenbetrag </ntext><preis><%= sprintf("%05.2f CHF", cds.amount) %></preis><ntext> am <%= cds.created_at.strftime("%d.%m.%Y") %></ntext>
              <br><br>
    	        <%= link_to cds.donation do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
              <% end %>
              <br>
              <br>
            </div>
          </div>
        <% end %>
  	  </div>
    </div>
  </div>
  <br>
  <% end %>

<% if $activeapps.include?("Favoriten") %>
  <a id="favourit">
	<div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
        FAVORITEN
        <span class="badge"><%= @favanz %></span>
        </li_header>
        <%= link_to "#company" do %>
          <%= image_tag('company_a.png', :size => "50x50", class: "pull-right") %>
        <% end %>
      </div>
      <div class="panel-body">
        <% @company.user.favourits.each do |f| %>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail" align="center">
              <anzeigetext>
                <% @item = Object.const_get(f.object_name).find(f.object_id) %>
                <% if @item != nil %>
                  <% if f.object_name == "User" %>
                    <%= @item.name + " " + @item.lastname %>
                  <% else %>
                    <%= @item.name %>
                  <% end %>
                <% else %>
                  <%= f.object_name %><br>
                  <%= f.object_id %>
                <% end %>
              </anzeigetext>

              <% if f.object_name == "User" or f.object_name == "Company" %>
                <% if @item.avatar != nil %>
                  <%= image_tag @item.avatar(:medium), class:"img-rounded" %>
                <% end %>
              <% end %>

              <br>
              <% if f.active %>
                <% image_tag("icon_active.jpg", :size => "100x100" , class:"img-rounded") %>
                 <i class="glyphicon glyphicon-ok-sign"></i> aktiv
              <% else %>
                <% image_tag("icon_inactive.jpg",:size => "100x100", class:"img-rounded") %>
                 <i class="glyphicon lg glyphicon-remove-sign"></i> inaktiv
              <% end %>
              <% if f.email %>
                <% image_tag("icon_active.jpg", :size => "100x100" , class:"img-rounded") %>
                 <i class="glyphicon glyphicon-ok-sign"></i> eMail
              <% end %>
              <% if f.ticker %>
                <% image_tag("icon_active.jpg", :size => "100x100" , class:"img-rounded") %>
                 <i class="glyphicon glyphicon-ok-sign"></i> Ticker
              <% end %>
              <br><br>
              <% if user_signed_in? %>
                <% if @company.user.id == current_user.id %>
        	        <%= link_to edit_favourit_path(f) do %>
                    <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                  <% end %>
        	        <%= link_to f, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                  <% end %>
                <% end %>
              <% end %>
              <br><br>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<br>
<% end %>

  <a id="location">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
            ORTSANGABE
        </li_header>
        <%= link_to "#company" do %>
          <%= image_tag('company_a.png', :size => "50x50", class: "pull-right") %>
        <% end %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel-body">
        <div id="map">
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @company.latitude %>,
          "lng": <%= @company.longitude %>,
          "infowindow": "<%= @company.name %>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
});
</script>