<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
            INSTITUTION <%= @company.name %>
        </h2>
      </div>
      <div class="panel-body">
        <%= link_to companies_path :page => session[:page] do %>
          <i class="btn btn-primary btn-lg glyphicon glyphicon-list"></i>
        <% end %>
        <% if user_signed_in? %>
	        <%= link_to new_favourit_path :object_name => "Company", :object_id => @company.id, :user_id => current_user.id do %>
            <i class="btn btn-primary btn-lg glyphicon glyphicon-star"></i>
          <% end %>
	        <%= link_to new_webmaster_path :object_name => "Company", :object_id => @company.id, :user_id => current_user.id do %>
            <i class="btn btn-warning btn-lg pull-right glyphicon glyphicon-eye-open"></i>
          <% end %>
          <% if current_user.id == @company.user.id %>
            <%= link_to edit_company_path(@company) do %>
              <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
            <% end %>
  	        <%= link_to @company, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="btn btn-danger btn-lg pull-right glyphicon glyphicon-trash"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="panel-body">
				<% if @company.avatar_file_name == nil %>
          <%= image_tag("company_a.png", :size => "200x200", class:"img-rounded" ) %>
        <% else %>
          <%= image_tag @company.avatar(:medium), class:"img-rounded"  %>
        <% end %>
        <br>
        <b>Branche</b>
        <%= @company.category.name %>
        <br>
        <cite><%= @company.created_at.strftime("%d.%m.%Y") %></cite>
      </div>
    </div>
  </div>
  <br>

  <% if $activeapps.include?("Services") %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user.id %>
              <%= link_to new_service_path :company_id => @company.id, :stype => "regular" do %>
                <i class="btn btn-primary glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            ANGEBOTE
        </h2>
      </div>
      <div class="panel-body">
    		<% @company.services.where("stype=?","regular").each do |cs| %>
            <div class="col-md-4">
              <div class="thumbnail" align="center">
                <div class="anzeigetext">
      						<%= cs.name %>
                </div>
      				  <%= align_text(cs.description) %>
      				  <br>
        				<% if cs.avatar_file_name == nil %>
                  <%= image_tag("service_a.png", :size => "200x200", class:"img-rounded" ) %>
                <% else %>
                  <%= image_tag cs.avatar(:medium), class:"img-rounded"  %>
                <% end %>
                <br>
      	        <%= link_to cs do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                <% end %>
                <br><br>
    			    </div>
    			   </div>
    		<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>

  <% if $activeapps.include?("Aktionen") %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user.id %>
              <%= link_to new_service_path :company_id => @company.id , :stype => "action" do %>
                <i class="btn btn-primary glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            AKTIONEN
        </h2>
      </div>
      <div class="panel-body">
        <% @company.services.where("stype=?","action").each do |cs| %>
            <div class="col-md-4">
              <div class="thumbnail" align="center">
                <div class="anzeigetext">
      						<%= cs.name %>
                </div>
      				  <%= align_text(cs.description) %>
      				  <br>
        				<% if cs.avatar_file_name == nil %>
                  <%= image_tag("money.png", :size => "200x200", class:"img-rounded" ) %>
                <% else %>
                  <%= image_tag cs.avatar(:medium), class:"img-rounded"  %>
                <% end %>
                <br>
                Preis <%= sprintf("%05.2f CHF", cs.price_new) if cs.price_new != nil %> statt <%= sprintf("%05.2f CHF", cs.price_reg) if cs.price_reg != nil %>
                <br>
                Aktion befristed vom <%= cs.datum_von.strftime("%d.%m.%Y") %> bis <%= cs.datum_bis.strftime("%d.%m.%Y") %>
                <br><br>
      	        <%= link_to cs do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                <% end %>
                <br><br>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <% end %>

  <% if $activeapps.include?("Mobilien") %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user.id %>
              <%= link_to new_vehicle_path(:company_id => @company.id) do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            MOBILIEN
        </h2>
      </div>
      <div class="panel-body">
      		<% @company.vehicles.each do |cv| %>
            <div class="col-md-4">
              <div class="thumbnail" align="center">
                <div class="anzeigetext">
      						<%= cv.name %>
                </div>
      				  <%= align_text(cv.description) %>
      				  <br>
        				<% if cv.avatar_file_name == nil %>
                  <%= image_tag("vehicle_a.png", :size => "200x200", class:"img-rounded" ) %>
                <% else %>
                  <%= image_tag cv.avatar(:medium), class:"img-rounded"  %>
                <% end %>
                <br>
      				  <%= cv.mob_category.name %>
      				  <br><br>
      	        <%= link_to cv do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                <% end %>
                <br><br>
      			  </div>
      			</div>
      		<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>
  
  <% if $activeapps.include?("Stellenanzeigen") %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user.id %>
              <%= link_to new_job_path(:company_id => @company.id) do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            STELLENANGEBOTE
        </h2>
      </div>
      <div class="panel-body">
      		<% @company.jobs.each do |cj| %>
            <div class="col-md-4">
              <div class="thumbnail" align="center">
                <div class="anzeigetext">
      						<%= cj.name %>
                </div>
                <p>
      						<%= align_text(cj.tasks) %>
    						</p>
        				<% if cj.company.avatar_file_name == nil %>
                  <%= image_tag("company_a.png", :size => "200x200", class:"img-rounded" ) %>
                <% else %>
                  <%= image_tag cj.company.avatar(:medium), class:"img-rounded"  %>
                <% end %>
    						<br>
      	        <%= link_to cj do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                <% end %>
                <br><br>
      			  </div>
      			</div>
      		<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>
  
  <% if $activeapps.include?("Veranstaltungen") %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user_id %>
              <%= link_to new_event_path(:company_id => @company.id) do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            VERANSTALTUNGEN
        </h2>
      </div>
      <div class="panel-body">
      		<% @company.events.each do |ce| %>
            <div class="col-md-4">
              <div class="thumbnail" align="center">
                <div class="anzeigetext">
      						<%= ce.name %>
                </div>
                <p>
    						<%= align_text(ce.description) %>
    						</p>
                <% if ce.event_details.count > 0 %>
                    <%= carousel(ce.event_details, "medium") %>
                  <% else %>
                    <%= image_tag("event_a.png", :size => "200x200", class:"img-rounded" ) %>
          			<% end %>
                <br>
                <p>
      						<%= ce.ev_category.name %>
    						</p>
    						<br>
                <br>
                vom <%= ce.date_from.strftime("%d.%m.%Y") %> bis <%= ce.date_to.strftime("%d.%m.%Y") %>
                <br><br>
      	        <%= link_to ce do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                <% end %>
                <br><br>
      			  </div>
      			 </div>
      		<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>

  <% if $activeapps.include?("Sponsoring") %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
            SPONSORING
        </h2>
      </div>
      <div class="panel-body">
          <% @company.sponsors.each do |cs| %>
            <div class="col-md-4">
              <div class="thumbnail" align="center">
                <div class="anzeigetext">
      						<%= cs.event.name %>
                </div>
                <p>
    						<%= align_text(cs.event.description) %>
    						</p>
                <% if cs.event.event_details.count > 0 %>
                    <%= carousel(cs.event.event_details, "medium") %>
                  <% else %>
                    <%= image_tag("event_a.png", :size => "200x200", class:"img-rounded" ) %>
          			<% end %>
                <br>
                <%= cs.event.ev_category.name %>
                <br>
        				<% case cs.slevel %>
        				  <% when "1" %>
                    <%= image_tag("Sponsor_gold.jpg", :size => "200x200", class:"img-rounded" ) %>
        				  <% when "2" %>
                    <%= image_tag("Sponsor_silver.jpg", :size => "200x200", class:"img-rounded" ) %>
        				  <% when "3" %>
                    <%= image_tag("Sponsor_bronze.jpg", :size => "200x200", class:"img-rounded" ) %>
                <% end %>
                <br>
                vom <%= cs.event.date_from.strftime("%d.%m.%Y") %> bis <%= cs.event.date_to.strftime("%d.%m.%Y") %>
    						<br><br>
      	        <%= link_to cs.event do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                <% end %>
                <br><br>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <br>
  <% end %>
  
  <% if $activeapps.include?("Spendeninitiativen") and @company.social %>  
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
          <% if @company.social %>
            <% if user_signed_in? %>
              <% if current_user.id == @company.user.id %>
                <%= link_to new_donation_path(:company_id => @company.id) do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
            SPENDENINITIATIVEN
        </h2>
      </div>
      <div class="panel-body">
        <% @company.donations.each do |cds| %>
          <div class="col-md-4">
            <div class="thumbnail" align="center">
              <div class="anzeigetext">
    						<%= cds.name %>
              </div>
              <p>
  						<%= align_text(cds.description) %>
  						</p>
              <% if cds.donation_details != nil %>
                    <%= carousel(cds.donation_details, "medium") %>
                  <% else %>
                    <%= image_tag("donation_a.png", :size => "200x200", class:"img-rounded" ) %>
          		<% end %>
              <br>
              Spendenbetrag <%= sprintf("%05.2f CHF", cds.donation_stats.sum(:amount)) %>
              <br><br>
    	        <%= link_to cds do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
              <% end %>
              <br><br>
            </div>
          </div>
        <% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>

  <% if $activeapps.include?("Spenden") %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
            SPENDEN
        </h2>
      </div>
      <div class="panel-body">
  	    <% @company.donation_stats.each do |cds| %>
          <div class="col-md-4">
            <div class="thumbnail" align="center">
    					<%= cds.donation.company.name %>
              <div class="anzeigetext">
    						<%= cds.donation.name %>
              </div>
              <p>
  						<%= align_text(cds.donation.description) %>
  						</p>
              <% if cds.donation.donation_details != nil %>
                    <%= carousel(cds.donation.donation_details, "medium") %>
                  <% else %>
                    <%= image_tag("donation_a.png", :size => "200x200", class:"img-rounded" ) %>
          		<% end %>
              <br>
              Spendenbetrag <%= sprintf("%05.2f CHF", cds.amount) %> am <%= cds.created_at.strftime("%d.%m.%Y") %>
              <br><br>
    	        <%= link_to cds.donation do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
              <% end %>
              <br>
              <br>
            </div>
          </div>
        <% end %>
  	  </div>
    </div>
  </div>
  <br>
  <% end %>

<% if $activeapps.include?("Favoriten") %>
	<div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h1>
        Favoriten
        <span class="badge"><%= @favanz %></span>
        </h1>
      </div>
      <div class="panel-body">
        <% @company.user.favourits.each do |f| %>
          <div class="col-md-4">
            <div class="thumbnail" align="center">
              <div class="anzeigetext">
                <% @item = Object.const_get(f.object_name).find(f.object_id) %>
                <% if @item != nil %>
                  <% if f.object_name == "User" %>
                    <%= @item.name + " " + @item.lastname %>
                  <% else %>
                    <%= @item.name %>
                  <% end %>
                <% else %>
                  <%= f.object_name %><br>
                  <%= f.object_id %>
                <% end %>
              </div>

              <% if f.object_name == "User" or f.object_name == "Company" %>
                <% if @item.avatar != nil %>
                  <%= image_tag @item.avatar(:medium), class:"img-rounded" %>
                <% end %>
              <% end %>

              <br>
              <% if f.active %>
                <% image_tag("icon_active.jpg", :size => "100x100" , class:"img-rounded") %>
                 <i class="glyphicon glyphicon-ok-sign"></i> aktiv
              <% else %>
                <% image_tag("icon_inactive.jpg",:size => "100x100", class:"img-rounded") %>
                 <i class="glyphicon lg glyphicon-remove-sign"></i> inaktiv
              <% end %>
              <% if f.email %>
                <% image_tag("icon_active.jpg", :size => "100x100" , class:"img-rounded") %>
                 <i class="glyphicon glyphicon-ok-sign"></i> eMail
              <% end %>
              <% if f.ticker %>
                <% image_tag("icon_active.jpg", :size => "100x100" , class:"img-rounded") %>
                 <i class="glyphicon glyphicon-ok-sign"></i> Ticker
              <% end %>
              <br><br>
              <% if user_signed_in? %>
                <% if @company.user.id == current_user.id %>
        	        <%= link_to edit_favourit_path(f) do %>
                    <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                  <% end %>
        	        <%= link_to f, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                  <% end %>
                <% end %>
              <% end %>
              <br><br>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<br>
<% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
            ORTSANGABE
        </h2>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel-body">
        <div id="map">
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
            KONTAKT
        </h2>
      </div>
      <div class="panel-body">
				<% if @company.user.avatar_file_name == nil %>
          <%= image_tag("user_a.png", :size => "50x50", class:"img-rounded" ) %>
        <% else %>
          <%= image_tag @company.user.avatar(:small), class:"img-rounded"  %>
        <% end %>
        <%= form_tag companies_path, :method => "get" do %>
          <div class="form-group">
            <% if @company.user.phone1 == "" %>
              <i class="glyphicon glyphicon-phone"></i>
              <%= @company.user.phone1 %><br>
            <% end %>
            <% if @company.user.phone2 == "" %>
            <i class="glyphicon glyphicon-phone"></i>
              <%= @company.user.phone2 %><br>
            <% end %>
            <i class="glyphicon glyphicon-envelope"></i>
            <%= @company.user.email %><br>
          </div>
          <div class="form-group">
            <%= label_tag "Betreff" %>
            <%= text_field_tag :header, @company.name, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag "Nachricht" %>
            <%= text_area_tag :body, params[:body], rows: 5, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= submit_tag "Senden", :name => nil, class:"btn btn-primary btn-lg" %>
          </div>
        <% end %>
        </p>
      </div>
    </div>
  </div>

</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @company.latitude %>,
          "lng": <%= @company.longitude %>,
          "infowindow": "<%= @company.name %>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
});
</script>