<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
            INSTITUTION <%= @company.name %>
        </h2>
      </div>
      <div class="panel-body">
        <%= link_to companies_path :page => session[:page] do %>
          <i class="btn btn-primary btn-lg glyphicon glyphicon-list"></i>
        <% end %>
        <% if user_signed_in? %>
	        <%= link_to new_favourit_path :object_name => "Company", :object_id => @company.id, :user_id => current_user.id do %>
            <i class="btn btn-primary btn-lg glyphicon glyphicon-star"></i>
          <% end %>
	        <%= link_to new_webmaster_path :object_name => "Company", :object_id => @company.id, :user_id => current_user.id do %>
            <i class="btn btn-warning btn-lg pull-right glyphicon glyphicon-eye-open"></i>
          <% end %>
          <% if current_user.id == @company.user.id %>
            <%= link_to edit_company_path(@company) do %>
              <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
            <% end %>
  	        <%= link_to @company, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="btn btn-danger btn-lg pull-right glyphicon glyphicon-trash"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="panel-body">
				<% if @company.avatar_file_name == nil %>
          <%= image_tag("company_a.png", :size => "200x200", class:"img-rounded" ) %>
        <% else %>
          <%= image_tag @company.avatar(:medium), class:"img-rounded"  %>
        <% end %>
        <br>
        <b>Branche</b>
        <%= @company.category.name %>
        <br>
        <cite><%= @company.created_at.strftime("%d.%m.%Y") %></cite>
      </div>
    </div>
  </div>
  <br>

  <% if $activeapps.include?("Services") %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user.id %>
              <%= link_to new_service_path :company_id => @company.id, :stype => "regular" do %>
                <i class="btn btn-primary glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            ANGEBOT
        </h2>
      </div>
      <div class="panel-body">
    		<% @company.services.where("stype=?","regular").each do |cs| %>
  				<a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-375571" href="#panel-element-service<%= cs.id %>"><h3><%= cs.name %></h3></a>
  				<div id="panel-element-service<%= cs.id %>" class="panel-collapse collapse">
    				<% if cs.avatar_file_name == nil %>
              <%= image_tag("service_a.png", :size => "200x200", class:"img-rounded" ) %>
            <% else %>
              <%= image_tag cs.avatar(:medium), class:"img-rounded"  %>
            <% end %>
            <p>
						<%= cs.description %>
            </p>
  	        <%= link_to cs do %>
              <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
            <% end %>
            <% if user_signed_in? %>
              <% if current_user.id == @company.user.id %>
      	        <%= link_to edit_service_path(cs) do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                <% end %>
      	        <%= link_to cs, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="btn btn-danger btn-lg pull-right glyphicon glyphicon-trash"></i>
                <% end %>
              <% end %>
            <% end %>
    			</div>
    		<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>

  <% if $activeapps.include?("Aktionen") %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user.id %>
              <%= link_to new_service_path :company_id => @company.id , :stype => "action" do %>
                <i class="btn btn-primary glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            AKTIONEN
        </h2>
      </div>
      <div class="panel-body">
        <% if @company.services.where("stype=?","action").count > 0 %>
  				<table class="table table striped">
  				  <thead>
  				    <tr>
  						  <th colspan="3">
  						    Aktion
  						  </th>
  						  <th colspan="2">
  						    Preis alt-neu
  						  </th>
  						  <th colspan="2">
  						    gültig von-bis
  						  </th>
  						  <th>
  						    Datum
  						  </th>
              </tr>
            </thead>
            <body>
            <% @company.services.where("stype=?","action").each do |cs| %>
              <tr>
                <td>
                  <% if user_signed_in? %>
                    <% if (cs.company.user_id == current_user.id) %>
            	        <%= link_to edit_service_path(cs), :stype => "action" do %>
                        <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                      <% end %>
            	        <%= link_to cs, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </td>
                <td>
        				<% if cs.avatar_file_name == nil %>
                  <%= image_tag("money.png", :size => "200x200", class:"img-rounded" ) %>
                <% else %>
                  <%= image_tag cs.avatar(:medium), class:"img-rounded"  %>
                <% end %>
                </td>
                <td>
                  <b><%= cs.name %></b><br>
      						<%= cs.description %>
                </td>
                <td><%= sprintf("%05.2f CHF", cs.price_reg) if cs.price_reg != nil %></td>
                <td><%= sprintf("%05.2f CHF", cs.price_new) if cs.price_new != nil %></td>
                <td><%= cs.datum_von.strftime("%d.%m.%Y") %></td>
                <td><%= cs.datum_bis.strftime("%d.%m.%Y") %></td>
                <td><%= cs.created_at.strftime("%d.%m.%Y") %></td>
              </tr>
              <% end %>
            </tbody>
					</table>
      	<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>

  <% if $activeapps.include?("Mobilien") %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user.id %>
              <%= link_to new_vehicle_path(:company_id => @company.id) do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            MOBILIEN
        </h2>
      </div>
      <div class="panel-body">
      		<% @company.vehicles.each do |cv| %>
    				<a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-375573" href="#panel-element-vehicle<%= cv.id %>"><h3><%= cv.name %></h3></a>
    				<div id="panel-element-vehicle<%= cv.id %>" class="panel-collapse collapse">
      				<% if cv.avatar_file_name == nil %>
                <%= image_tag("vehicle_a.png", :size => "200x200", class:"img-rounded" ) %>
              <% else %>
                <%= image_tag cv.avatar(:medium), class:"img-rounded"  %>
              <% end %>
              <p>
  						<%= cv.description %>
  						</p>
    	        <%= link_to cv do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
              <% end %>
      			</div>
      		<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>
  
  <% if $activeapps.include?("Stellenanzeigen") %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user.id %>
              <%= link_to new_job_path(:company_id => @company.id) do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            STELLENANGEBOTE
        </h2>
      </div>
      <div class="panel-body">
      		<% @company.jobs.each do |cj| %>
    				<a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-375574" href="#panel-element-job<%= cj.id %>"><h3><%= cj.name %></h3></a>
    				<div id="panel-element-job<%= cj.id %>" class="panel-collapse collapse">
              <p>
                <b>Anzeigetext vom <%= cj.created_at.strftime("%d.%m.%Y") %></b><br>
    						<%= cj.tasks %>
  						</p>
    	        <%= link_to cj do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
              <% end %>
      			</div>
      		<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>
  
  <% if $activeapps.include?("Veranstaltungen") %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
          <% if user_signed_in? %>
            <% if current_user.id == @company.user_id %>
              <%= link_to new_event_path(:company_id => @company.id) do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          <% end %>
            VERANSTALTUNGEN
        </h2>
      </div>
      <div class="panel-body">
      		<% @company.events.each do |ce| %>
    				<a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-375584" href="#panel-element-event<%= ce.id %>"><h3><%= ce.name %></h3></a>
    				<div id="panel-element-event<%= ce.id %>" class="panel-collapse collapse">
      				<% if ce.avatar_file_name == nil %>
                <%= image_tag("vehicle_a.png", :size => "200x200", class:"img-rounded" ) %>
              <% else %>
                <%= image_tag ce.avatar(:medium), class:"img-rounded"  %>
              <% end %>
              <p>
  						<%= ce.description %>
  						</p>
  						<br>
    	        <%= link_to ce do %>
                <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
              <% end %>
      			</div>
      		<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>

  <% if $activeapps.include?("Sponsoring") %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
            SPONSORING
        </h2>
      </div>
      <div class="panel-body">
        <% if @company.sponsors.count > 0 %>
  				<table class="table table striped">
  				  <thead>
  				    <tr>
  						  <th colspan="4">
  						    Veranstaltung
  						  </th>
  						  <th>
  						    Sponsoren Kategorie
  						  </th>
              </tr>
            </thead>
            <tbody>
            <% @company.sponsors.each do |cs| %>
              <tr>
                <td>
        	        <%= link_to cs.event do %>
                    <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                  <% end %>
                </td>
                <td>
          				<% if cs.event.avatar_file_name == nil %>
                    <%= image_tag("event_a.png", :size => "50x50", class:"img-rounded" ) %>
                  <% else %>
                    <%= image_tag cs.event.avatar(:small), class:"img-rounded"  %>
                  <% end %>
                  <%= cs.event.name %>
                </td>
                <td>
                  <%= cs.event.date_from.strftime("%d.%m.%Y") %>
                </td>
                <td>
                  <%= cs.event.date_to.strftime("%d.%m.%Y") %>
                </td>
                <td>
          				<% case cs.slevel %>
          				  <% when "1" %>
                      <%= image_tag("Sponsor_gold.jpg", :size => "50x50", class:"img-rounded" ) %>
          				  <% when "2" %>
                      <%= image_tag("Sponsor_silver.jpg", :size => "50x50", class:"img-rounded" ) %>
          				  <% when "3" %>
                      <%= image_tag("Sponsor_bronze.jpg", :size => "50x50", class:"img-rounded" ) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
  				</table>
  			<% end %>
      </div>
    </div>
  </div>
  <br>
  <% end %>
  
  <% if $activeapps.include?("Spendeninitiativen") and @company.social %>  
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
          <% if @company.social %>
            <% if user_signed_in? %>
              <% if current_user.id == @company.user.id %>
                <%= link_to new_donation_path(:company_id => @company.id) do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
            SPENDENINITIATIVEN
        </h2>
      </div>
      <div class="panel-body">
  	    <% if @company.donations.count > 0 %>
  				<table class="table table striped">
  				  <thead>
  				    <tr>
  						  <th colspan="4">
  						    Spendeninitiative
  						  </th>
  						  <th>
  						    Aktueller Spendenbetrag
  						  </th>
  						  <th>
  						    Datum
  						  </th>
              </tr>
            </thead>
            <tbody>
            <% @company.donations.each do |cds| %>
              <tr>
                <td>
        	        <%= link_to cds do %>
                    <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                  <% end %>
                </td>
                <td>
                  <%= cds.name %>
                </td>
                <td>
                  <%= cds.description %>
                </td>
                <td>
                  <% cds.donation_details.each do |cdd| %>
            				<% if cdd.avatar_file_name == nil %>
                      <%= image_tag("donation_a.jpg", :size => "50x50", class:"img-rounded" ) %>
                    <% else %>
                      <%= image_tag cdd.avatar(:small), class:"img-rounded"  %>
                    <% end %>
                    <%= cdd.name %>
                  <% end %>
                </td>
                <td>
                  <%= sprintf("%05.2f CHF", cds.donation_stats.sum(:amount)) %>
                </td>
                <td>
                  <%= cds.created_at.strftime("%d.%m.%Y") %>
                </td>
              </tr>
            <% end %>
            </tbody>
  				</table>
  			<% end %>
    	</div>
    </div>
  </div>
  <br>
  <% end %>

  <% if $activeapps.include?("Spenden") %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
            SPENDEN
        </h2>
      </div>
      <div class="panel-body">
  	    <% if @company.donation_stats.count > 0 %>
    			<a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-spenden" href="#panel-element-spenden"><h3>Spenden (<%= sprintf("%05.2f CHF", @company.donation_stats.sum(:amount)) + " / " + @company.donation_stats.count.to_s %>)</h3></a>
    			<div id="panel-element-spenden" class="panel-collapse collapse">
  				<table class="table table striped">
  				  <thead>
  				    <tr>
  						  <th colspan="4">
  						    Spendeninitiative
  						  </th>
  						  <th>
  						    Betrag
  						  </th>
  						  <th>
  						    Datum
  						  </th>
              </tr>
            </thead>
            <tbody>
            <% @company.donation_stats.each do |cds| %>
              <tr>
                <td>
        	        <%= link_to cds.donation do %>
                    <i class="btn btn-primary btn-lg glyphicon glyphicon-info-sign"></i>
                  <% end %>
                </td>
                <td>
                  <%= cds.donation.name %>
                </td>
                <td>
                  <%= cds.donation.description %>
                </td>
                <td>
                  <br>
                  <% cds.donation.donation_details.each do |cdd| %>
            				<% if cdd.avatar_file_name == nil %>
                      <%= image_tag("donation_a.jpg", :size => "50x50", class:"img-rounded" ) %>
                    <% else %>
                      <%= image_tag cdd.avatar(:small), class:"img-rounded"  %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <%= sprintf("%05.2f CHF", cds.amount) %>
                </td>
                <td>
                  <%= cds.created_at.strftime("%d.%m.%Y") %>
                </td>
              </tr>
            <% end %>
            </tbody>
  				</table>
  				</div>
  			<% end %>
  	  </div>
    </div>
  </div>
  <br>
  <% end %>

<% if $activeapps.include?("Favoriten") %>
	<div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h1>
        <%= link_to new_favourit_path do %>
          <i class="btn btn-primary btn-lg glyphicon glyphicon-plus"></i>
        <% end %>
        Favoriten
        <span class="badge"><%= @favanz %></span>
        </h1>
      </div>
      <div class="panel-body">
  			<a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-favourit" href="#panel-element-favourit"><h3>Favoriten (<%= @company.user.favourits.count.to_s %>)</h3></a>
  			<div id="panel-element-favourit" class="panel-collapse collapse">
      		<table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Status</th>
                <th>Favorit</th>
                <th>eMail</th>
                <th>Ticker</th>
              </tr>
            </thead>
            <tbody>
                <% @company.user.favourits.each do |f| %>
                  <tr>
                    <td>
                      <% if user_signed_in? %>
                        <% if @company.user.id == current_user.id %>
                	        <%= link_to edit_favourit_path(f) do %>
                            <i class="btn btn-primary btn-lg glyphicon glyphicon-wrench"></i>
                          <% end %>
                	        <%= link_to f, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                          <% end %>
                        <% end %>
                      <% end %>
                    </td>
        				    <td>
                      <% if f.active %>
                        <% image_tag("icon_active.jpg", :size => "50x50" , class:"img-rounded") %>
                         <i class="glyphicon glyphicon-ok-sign"></i>
                      <% else %>
                        <% image_tag("icon_inactive.jpg",:size => "50x50", class:"img-rounded") %>
                         <i class="glyphicon lg glyphicon-remove-sign"></i>
                      <% end %>
                    </td>
                    <td>
                      <div class="anzeigetext">
                        <% @item = Object.const_get(f.object_name).find(f.object_id) %>
                        <% if @item != nil %>
                          <%= f.object_name + ": " + @item.name %>
                        <% else %>
                          <%= f.object_name %><br>
                          <%= f.object_id %>
                        <% end %>
                      </div>
                    </td>
                    <td>
                      <% if f.email %>
                        <% image_tag("icon_active.jpg", :size => "50x50" , class:"img-rounded") %>
                         <i class="glyphicon glyphicon-ok-sign"></i>
                      <% else %>
                        <% image_tag("icon_inactive.jpg",:size => "50x50", class:"img-rounded") %>
                         <i class="glyphicon lg glyphicon-remove-sign"></i>
                      <% end %>
                    </td>
                    <td>
                      <% if f.ticker %>
                        <% image_tag("icon_active.jpg", :size => "50x50" , class:"img-rounded") %>
                         <i class="glyphicon glyphicon-ok-sign"></i>
                      <% else %>
                        <% image_tag("icon_inactive.jpg",:size => "50x50", class:"img-rounded") %>
                         <i class="glyphicon lg glyphicon-remove-sign"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<br>
<% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
            ORTSANGABE
        </h2>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel-body">
        <div id="map">
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <h2>
            KONTAKT
        </h2>
      </div>
      <div class="panel-body">
				<% if @company.user.avatar_file_name == nil %>
          <%= image_tag("user_a.png", :size => "50x50", class:"img-rounded" ) %>
        <% else %>
          <%= image_tag @company.user.avatar(:small), class:"img-rounded"  %>
        <% end %>
        <%= form_tag companies_path, :method => "get" do %>
          <div class="form-group">
            <% if @company.user.phone1 == "" %>
              <i class="glyphicon glyphicon-phone"></i>
              <%= @company.user.phone1 %><br>
            <% end %>
            <% if @company.user.phone2 == "" %>
            <i class="glyphicon glyphicon-phone"></i>
              <%= @company.user.phone2 %><br>
            <% end %>
            <i class="glyphicon glyphicon-envelope"></i>
            <%= @company.user.email %><br>
          </div>
          <div class="form-group">
            <%= label_tag "Betreff" %>
            <%= text_field_tag :header, @company.name, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag "Nachricht" %>
            <%= text_area_tag :body, params[:body], rows: 5, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= submit_tag "Senden", :name => nil, class:"btn btn-primary btn-lg" %>
          </div>
        <% end %>
        </p>
      </div>
    </div>
  </div>

</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @company.latitude %>,
          "lng": <%= @company.longitude %>,
          "infowindow": "<%= @company.name %>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
});
</script>