
  <div class="row">
    <action>
    <%= action_buttons("Company", @company, @topic) %>
    </action>
  </div>

  <div class="row">
    <header><%= header(@company.name, true) %></header>
  </div>
  
  <div class="row">
      <div class='col-xs-10'>

      <% case @topic %>
        <% when "Company" %>
          <%= header("Kontaktdaten", false) %>
          <div class="panel-body">
            <%= showImage("Company", :medium, @company) %>
            <br>
            <b>Branche</b>
            <%= @company.category.name %>
            <br>
            <cite><%= @company.created_at.strftime("%d.%m.%Y") %></cite><br>
            <% if user_signed_in? %>
    	        <%= link_to new_email_path :m_from_id => current_user.id, :m_to_id => @company.user.id, :header => @company.name, :back_url => request.original_url do %>
                <i class="btn btn-default glyphicon glyphicon-envelope"></i>
              <% end %>
            <% else %>
                <i class="glyphicon glyphicon-envelope"></i>
            <% end %>
            <%= @company.user.email %><br><br>
          <% @array = [] %>
          <% @array = build_stats(@array, @company.services.where("stype=?","regular"), "Services" ) %>
          <% @array = build_stats(@array, @company.services.where("stype=?","action"), "Aktionen" ) %>
          <% @array = build_stats(@array, @company.vehicles, "Mobilien" ) %>
          <% @array = build_stats(@array, @company.bid_documents, "Ausschreibungs-Angebote" ) %>
          <% @array = build_stats(@array, @company.jobs, "Stellenanzeigen" ) %>
          <% @array = build_stats(@array, @company.events, "Veranstaltungen" ) %>
          <% @array = build_stats(@array, @company.sponsors, "Sponsorengagements" ) %>
          <% @array = build_stats(@array, @company.donations.where('dtype=?',"Donation"), "Crowdfunding Initiativen (Spende)" ) %>
          <% @array = build_stats(@array, @company.donations.where('dtype=?',"Reward"), "Crowdfunding Initiativen (Belohnung)" ) %>
          <% @array = build_stats(@array, @company.donations.where('dtype=?',"Loan"), "Crowdfunding Initiativen (Kredit)" ) %>
          <% @array = build_stats(@array, @company.donation_stats, "Crowdfunding Beitr채ge" ) %>
          <% @array = build_stats(@array, Customer.where('company_id=?',@company.id), "Kundenbeziehungen" ) %>
          <% @array = build_stats(@array, Transaction.where('ttype=? and company_id=?', "Payment", @company.id), "Transaktionen" ) %>
          <%= content_tag :div, "", id: "donut-example0", data: {reports: @array} %>
            
          </div>

        <% when "Service" %>
          <%= header("Angebote", false) %>
          <div class="panel-body">
        		<% @company.services.where("stype=?","regular").each do |cs| %>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="thumbnail" align="center">
                    <%= showImage("Service",:medium, cs) %>
                    <br>
                    <anzeigetext>
          						<%= cs.name %><br>
                    </anzeigetext>
                    <ntext>
          				  <%= align_text(cs.description) %>
                    </ntext>
                    <br><br>
        			    </div>
        			   </div>
        		<% end %>
          </div>

        <% when "Aktion" %>
          <%= header("Aktionen", false) %>
          <div class="panel-body">
            <% @company.services.where("stype=?","action").each do |cs| %>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="thumbnail" align="center">
                    <%= showImage("Service",:medium, cs) %>
                    <br>
                    <anzeigetext>
          						<%= cs.name %><br>
                    </anzeigetext>
                    <ntext>
          				  <%= align_text(cs.description) %>
                    </ntext>
                    <br>
                    <br>
                    <preis><%= sprintf("%05.2f CHF", cs.price_new) if cs.price_new != nil %></preis><ntext><br> statt <%= sprintf("%05.2f CHF", cs.price_reg) if cs.price_reg != nil %></ntext><br>
                    <br>
                    <ntext>
                    Aktion befristed vom <%= cs.date_from.strftime("%d.%m.%Y") %> bis <%= cs.date_to.strftime("%d.%m.%Y") %>
                    </ntext>
                    <br><br>
                  </div>
                </div>
            <% end %>
          </div>
          
        <% when "Vehicle" %>
          <%= header("Mobilien", false) %>
          <div class="panel-body">
      		<% @company.vehicles.each do |cv| %>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail" align="center">
                <%= showImage("Vehicle", :medium, cv) %>
                <br>
                <anzeigetext>
      						<%= cv.name %><br>
                </anzeigetext>
                <ntext>
      				  <%= align_text(cv.description) %>
                </ntext>
                <br>
                <br>
                <ntext>
      				  <%= cv.mob_category.name %>
                </ntext>
                <br><br>
      			  </div>
      			</div>
      		<% end %>
          </div>
          
        <% when "Bid" %>
          <%= header("Ausschreibungen", false) %>
          <div class="panel-body">
        		<% @company.bid_documents.each do |cbd| %>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail" align="center">
                  <%= link_to cbd.bid do %>
                    <%= carousel2(cbd.bid.bid_details,:medium) %>
                	<% end %>
                  <anzeigetext>
        						<%= cbd.bid.name %><br>
                  </anzeigetext>
                  <br>
                  <ntext>
        				  <%= align_text(cbd.bid.description) %>
        				  </ntext>
                  <br><br>
        			  </div>
        			 </div>
        		<% end %>
          </div>

        <% when "Job" %>
          <%= header("Stellenanzeigen", false) %>
          <div class="panel-body">
          		<% @company.jobs.each do |cj| %>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="thumbnail" align="center">
                    <%= link_to cj do %>
                      <% if cj.company.avatar_file_name %>
                        <%= image_tag cj.company.avatar(:medium), class:"img-rounded" %>
                      <% else %>
                        <%= image_tag("company_a.png", :size => "250x250", class:"img-rounded" ) %>
                      <% end %>
                    <% end %>
        						<br>
                    <anzeigetext>
          						<%= cj.name %><br>
                    </anzeigetext>
                    <ntext>
          						<%= align_text(cj.tasks) %>
          					</ntext>
                    <br><br>
          			  </div>
          			</div>
          		<% end %>
          </div>

        <% when "Event" %>
          <%= header("Veranstaltungen", false) %>
          <div class="panel-body">
      		<% @company.events.each do |ce| %>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail" align="center">
                <%= link_to ce do %>
                  <%= carousel2(ce.event_details, :medium) %>
            		<% end %>
                <anzeigetext>
      						<%= ce.name %><br>
                </anzeigetext>
                <ntext>
    						<%= align_text(ce.description) %>
                <br>
      						<%= ce.ev_category.name %>
    						<br>
                <br>
                vom <%= ce.date_from.strftime("%d.%m.%Y") %> bis <%= ce.date_to.strftime("%d.%m.%Y") %>
                </ntext>
                <br><br>
      			  </div>
      			 </div>
      		<% end %>
          </div>
          
        <% when "Sponsor" %>
          <%= header("Services", false) %>
          <div class="panel-body">
            <% @company.sponsors.each do |cs| %>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail" align="center">
                  <%= link_to cs.event do %>
                    <%= carousel2(cs.event.event_details,:medium) %>
              		<% end %>
                  <br>
                  <anzeigetext>
        						<%= cs.event.name %><br>
                  </anzeigetext>
                  <ntext>
      						<%= align_text(cs.event.description) %>
      						<br>
                  <%= cs.event.ev_category.name %>
                  <br>
          				<% case cs.slevel %>
          				  <% when "1" %>
                      <%= image_tag("Sponsor_gold.jpg", :size => "200x200", class:"img-rounded" ) %>
          				  <% when "2" %>
                      <%= image_tag("Sponsor_silver.jpg", :size => "200x200", class:"img-rounded" ) %>
          				  <% when "3" %>
                      <%= image_tag("Sponsor_bronze.jpg", :size => "200x200", class:"img-rounded" ) %>
                  <% end %>
                  <br>
                  vom <%= cs.event.date_from.strftime("%d.%m.%Y") %> bis <%= cs.event.date_to.strftime("%d.%m.%Y") %>
                  </ntext>
      						<br><br>
                  <% if user_signed_in? %>
                    <% if current_user.id == cs.company.user_id %>
                      <%= link_to tickets_path :sponsor_id => cs.id do %>
                        <i class="btn btn-primary glyphicon glyphicon-credit-card"></i>
                      <% end %>
            	        <%= link_to edit_sponsor_path(cs) do %>
                        <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                      <% end %>
            	        <%= link_to cs, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                  <br><br>
                </div>
              </div>
            <% end %>
           </div>

        <% when "Donation" %>
          <%= header("Crowdfunding Spenden", false) %>
          <div class="panel-body">
            <% @company.donations.where('dtype=?',"Donation").each do |cds| %>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail" align="center">
                  <%= link_to cds do %>
                    <%= carousel2(cds.donation_details, :medium) %>
                	<% end %>
                  <br>
                  <anzeigetext>
        						<%= cds.name %><br>
                  </anzeigetext>
                  <ntext>
      						<%= align_text(cds.description) %>
      						<br>
                  </ntext>
                  <ntext>Spendenbetrag <br></ntext><preis><%= sprintf("%05.2f CHF", cds.donation_stats.sum(:amount)) %></preis>
                  <br><br>
                </div>
              </div>
            <% end %>
          </div>

        <% when "Reward" %>
          <%= header("Crowdfunding Belohnung", false) %>
          <div class="panel-body">
            <% @company.donations.where('dtype=?',"Reward").each do |cds| %>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail" align="center">
                  <%= link_to cds do %>
                    <%= carousel2(cds.donation_details, :medium) %>
                	<% end %>
                  <br>
                  <anzeigetext>
        						<%= cds.name %><br>
                  </anzeigetext>
                  <ntext>
      						<%= align_text(cds.description) %>
      						<br>
                  </ntext>
                  <ntext>Ziel <br></ntext><preis><%= sprintf("%05.2f CHF", cds.amount) %></preis>
                  <br><br>
                  <ntext>Unterst체tzungsbetrag <br></ntext><preis><%= sprintf("%05.2f CHF", cds.donation_stats.sum(:amount)) %></preis>
                  <br><br>
                </div>
              </div>
            <% end %>
          </div>
          
        <% when "Loan" %>
          <%= header("Crowdfunding Kredit", false) %>
          <div class="panel-body">
            <% @company.donations.where('dtype=?',"Loan").each do |cds| %>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail" align="center">
                  <%= link_to cds do %>
                    <%= carousel2(cds.donation_details, :medium) %>
                	<% end %>
                  <br>
                  <anzeigetext>
        						<%= cds.name %><br>
                  </anzeigetext>
                  <ntext>
      						<%= align_text(cds.description) %>
      						<br>
                  </ntext>
                  <ntext>Ziel <br></ntext><preis><%= sprintf("%05.2f CHF", cds.amount) %></preis>
                  <br><br>
                  <ntext>Kreditbetrag <br></ntext><preis><%= sprintf("%05.2f CHF", cds.donation_stats.sum(:amount)) %></preis>
                  <br><br>
                </div>
              </div>
            <% end %>
          </div>

        <% when "Stat" %>
          <%= header("Crowdfunding Engagement", false) %>
          <div class="panel-body">
      	    <% @company.donation_stats.each do |uds| %>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail" align="center">
                  <%= link_to uds.donation do %>
                    <%= carousel2(uds.donation.donation_details, :medium) %>
                	<% end %>
              		<br>
                  <anzeigetext>
        						<%= uds.donation.name %><br>
                  </anzeigetext>
                  <ntext>
                    <%= align_text(uds.donation.description) %><br>
          					<%= uds.donation.company.name if uds.donation.company_id %><br>
          					<%= uds.donation.user.name + " " + uds.donation.user.lastname if uds.donation.user_id %><br>
                  </ntext>
                  <br>
        	        <% if uds.donation.dtype == "Donation" %>
                    <ntext>Spendenbetrag</ntext><br><preis><%= sprintf("%05.2f CHF", uds.amount) %></preis><ntext><br> am <%= uds.created_at.strftime("%d.%m.%Y") %></ntext>
                    <br><br>
                  <% end %>
        	        <% if uds.donation.dtype == "Reward" %>
                    <ntext>Unterst체tzungsbetrag</ntext><br><preis><%= sprintf("%05.2f CHF", uds.amount) %></preis><ntext><br> am <%= uds.created_at.strftime("%d.%m.%Y") %></ntext>
                    <br><br>
                    <anzeigetext><%= uds.donation.reward %></anzeigetext>
                    <br>
                  <% end %>
        	        <% if uds.donation.dtype == "Loan" %>
                    <ntext>Kreditbetrag</ntext><br><preis><%= sprintf("%05.2f CHF", uds.amount) %></preis><ntext><br> am <%= uds.created_at.strftime("%d.%m.%Y") %></ntext>
                    <br><br>
                    <anzeigetext><%= uds.donation.interest_rate %>%</anzeigetext>
                    <br>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

        <% when "Favourit" %>
          <%= header("Favoriten", false) %>
          <div class="panel-body">
            <% @company.user.favourits.each do |f| %>
              <% @item = Object.const_get(f.object_name).find(f.object_id) %>
              <% if @item != nil %>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="thumbnail" align="center">
                    <% if f.object_name == "User" or f.object_name == "Company" %>
                      <%= link_to @item do %>
                        <% if @item.avatar != nil %>
                          <%= image_tag @item.avatar(:medium), class:"img-rounded" %>
                        <% else %>
                          <%= image_tag("nopic.jpg", :size => "200x200" , class:"img-rounded") %>
                        <% end %>
                      <% end %>
                      <anzeigetext>
                      <% if f.object_name == "User" %>
                        <%= @item.name + " " + @item.lastname %>
                      <% else %>
                        <%= @item.name %>
                      <% end %>
                      </anzeigetext>
                      <br><br>
                      <% if f.active %>
                        <% image_tag("icon_active.jpg", :size => "50x50" , class:"img-rounded") %>
                         <i class="glyphicon glyphicon-ok-sign"></i> aktiv
                      <% else %>
                        <% image_tag("icon_inactive.jpg",:size => "50x50", class:"img-rounded") %>
                         <i class="glyphicon lg glyphicon-remove-sign"></i> inaktiv
                      <% end %>
                      <% if f.email %>
                        <% image_tag("icon_active.jpg", :size => "50x50" , class:"img-rounded") %>
                         <i class="glyphicon glyphicon-ok-sign"></i> eMail
                      <% end %>
                      <% if f.ticker %>
                        <% image_tag("icon_active.jpg", :size => "50x50" , class:"img-rounded") %>
                         <i class="glyphicon glyphicon-ok-sign"></i> Ticker
                      <% end %>
                      <br><br>
                      <% if user_signed_in? %>
                        <% if @company.user_id == current_user.id %>
                	        <%= link_to f, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                          <% end %>
                        <% end %>
                      <% end %>
                      <br><br>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          
        <% when "Customer" %>
          <%= header("Kundenstatus", false) %>
            <div class="panel-body">
            <% @partners = Company.where('partner=?',true) %>
            <% @partners.each do |p| %>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail" align="center">
                  <%= link_to p do %>
                    <% if !p.avatar_file_name %>
                      <%= image_tag("company_a.png", :size => "200x200" , class:"img-rounded") %>
                    <% else %>
                      <%= image_tag p.avatar(:medium), class:"img-rounded"%>
                    <% end %><br>
                  <% end %>
                  <anzeigetext>
                    <%= p.name %>
                  </anzeigetext>
                  <br><br>
                  <% @customer = Customer.where("company_id=? AND partner_id=?", @company.id, p.id).first %>
                  <% if @customer == nil %>
                    <%= link_to new_customer_path :partner_id => p.id, :company_id => @company.id do %>
                      <i class="btn btn-primary glyphicon glyphicon-pencil"></i>
                    <% end %>
                  <% else %>
                    <% if @customer.advisor_id != nil %>
                      <% @advisor = User.find(@customer.advisor_id) %>
                      <% if @advisor %>
                          <%= link_to @advisor do %>
                            <% if !@advisor.avatar_file_name %>
                              <%= image_tag("user_a.png", :size => "200x200" , class:"img-rounded") %>
                            <% else %>
                              <%= image_tag @advisor.avatar(:medium), class:"img-rounded"%>
                            <% end %><br>
                          <% end %>
                          <ntext>
                          Ihr xConnect Ansprechpartner<br>
                          <%= @advisor.name +  " " + @advisor.lastname %>
                          </ntext>
                          <br><br>
                      <% end %>
                    <% end %> 
                    <%= link_to accounts_path :customer_id => @customer.id do %>
                      <i class="btn btn-primary glyphicon glyphicon-book"></i>
                    <% end %>
                    <%= link_to edit_customer_path(@customer) do %>
                      <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                    <% end %>
          	        <%= link_to @customer, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                    <% end %>
                  <% end %>
                  <br><br>
                </div>
              </div>
            <% end %>
          </div>
          
        <% when "Transaction" %>
          <%= header("Transaktionen", false) %>
          <div class="panel-body">
            <% @trx = Transaction.where('ttype=? and company_id=?', "Payment", @company.id).order(trx_date: :desc) %>
            <% @trx.each do |t| %>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail" align="center">
                  
                  <% ac_ver = Account.find(t.account_ver) %>
                  <% if ac_ver %>
                    <% if ac_ver.customer.user_id %>
                      <%= link_to ac_ver.customer.user do %>
                        <% if !ac_ver.customer.user.avatar_file_name %>
                          <%= image_tag("user_a.png", :size => "200x200" , class:"img-rounded") %>
                        <% else %>
                          <%= image_tag ac_ver.customer.user.avatar(:medium), class:"img-rounded"%>
                        <% end %>
                      <% end %>
                      <anzeigetext>
                        <%= ac_ver.customer.user.name + " " + ac_ver.customer.user.lastname %>
                      </anzeigetext>
                    <% end %>
                    <% if ac_ver.customer.company_id %>
                      <%= link_to ac_ver.customer.company do %>
                        <% if !ac_ver.customer.company.avatar_file_name %>
                          <%= image_tag("company_a.png", :size => "200x200" , class:"img-rounded") %>
                        <% else %>
                          <%= image_tag ac_ver.customer.company.avatar(:medium), class:"img-rounded"%>
                        <% end %>
                      <% end %>
                      <anzeigetext>
                        <%= ac_ver.customer.company.name %>
                      </anzeigetext>
                    <% end %>
                  <% end %>
                  <br><br>
                  <b>Referenz</b>
                  <% @item = Object.const_get(t.object_name).find(t.object_id) %>
                  <% if @item %>
                    <%= link_to @item do %>
                      <%= @item.name %>
                    <% end %>
                    <br>
                  <% end %>
                  <br>
                  <b>Betrag</b>
                  <%= sprintf("%05.2f CHF",t.amount) if t.amount != nil %>
                  <br><br>
                  <b>Mitteilung</b><br>
                  <%= t.text %>
                  <br><br>
                  <b>Status</b>
                  <%= t.status if t.amount != nil %>
                  <br><br>
                  <% if t.status == "erfasst" %>
                    <%= link_to company_path(@company, :trx_status_ok_id => t.id) do %>
                      <i class="btn btn-primary glyphicon glyphicon-ok"></i>
                    <% end %>
                    <%= link_to edit_transaction_path(t, :user_id => current_user.id) do %>
                      <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                    <% end %>
          	        <%= link_to t, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                    <% end %>
                  <% end %>
                  <% if t.status == "freigegeben" %>
                    <%= link_to company_path(@company, :trx_status_ausgefuehrt_id => t.id) do %>
                      <i class="btn btn-primary glyphicon glyphicon-thumbs-up"></i>
                    <% end %>
                  <% end %>
                  <br><br>
                </div>
              </div>
            <% end %>
          </div>

        <% when "Link" %>
          <%= header("Partner Links", false) %>
          <div class="panel-body">
            <% @company.partner_links.each do |pl| %>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="thumbnail" align="center">
                    <anzeigetext>
                      <%= pl.name %><br>
                    </anzeigetext>
                    <ntext>
                    <%= pl.link %>
                    </ntext>
                    <ntext>
                    <%= align_text(pl.description) %>
                    </ntext>
                    <br>
                    <%= showImage("Link", :medium, pl) %>
                    <br>
                    <% if user_signed_in? %>
                      <% if current_user.id == @company.user_id %>
                        <% if @company.partner %>
                          <%= link_to edit_partner_link_path(pl) do %>
                            <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                          <% end %>
                          <%= link_to pl, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <br><br>
                  </div>
                 </div>
            <% end %>
          </div>
          
        <% when "Location" %>
          <%= header("Ortsangabe", false) %>
          <div class="panel-body">
            <div id="map">
              <div id="map-canvas"></div>
            </div>
          </div>

        <% when "Email" %>
          <%= header("Emails", false) %>
          <div class="panel-body">
            <% emails = Email.where('m_to=? or m_from=?', @company.user.id, @company.user.id).order(created_at: :desc) %>
            <% emails.each do |e| %>
              <% if e.m_to == @company.user.id %>
                <% @u = User.find(e.m_from) %>
                <%= showImage("User",:small, @u) if @u %>
              <% end %>
              <% if e.m_from == @company.user.id %>
                <% @u = User.find(e.m_to) %>
                <%= showImage("User",:small, @u) if @u %>
              <% end %>
              <%= e.header + e.body %><br>
            <% end %>
          </div>

      <% end %>
    </div>
    
      <div class='col-xs-2'>
        <%= navigate("Company", @company) %>
      </div>

  </div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @company.latitude %>,
          "lng": <%= @company.longitude %>,
          "infowindow": "<%= @company.name %>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
});
</script>

<!--<script>-->
<!--$(document).ready(function(){-->
<!--  $("header").mouseenter(function() {-->
<!--    $("navigate").show();-->
<!--    $("action").show();-->
<!--  });-->
<!--})-->
<!--$(document).ready(function(){-->
<!--  $("navigate").mouseleave(function() {-->
<!--    $("navigate").hide()-->
<!--    $("action").hide();-->
<!--  });-->
<!--})</script>-->

<script>
Morris.Donut({
  element: 'donut-example0',
  data: $('#donut-example0').data('reports'),
}).on('click', function(i, row){
  switch(row.label) {
      case "Services":
        loadUrl("<%= company_path(:id => @company.id, :topic => "Service") %>");
        break
      case "Aktionen":
        loadUrl("<%= company_path(:id => @company.id, :topic => "Aktion") %>");
        break
      case "Mobilien":
        loadUrl("<%= company_path(:id => @company.id, :topic => "Vehicle") %>");
        break
      case "Ausschreibungs-Angebote":
        loadUrl("<%= company_path(:id => @company.id, :topic => "Bid") %>");
        break
      case "Stellenanzeigen":
        loadUrl("<%= company_path(:id => @company.id, :topic => "Job") %>");
        break
      case "Veranstaltungen":
        loadUrl("<%= company_path(:id => @company.id, :topic => "Event") %>");
        break
      case "Sponsorengagements":
        loadUrl("<%= company_path(:id => @company.id, :topic => "Sponsor") %>");
        break
      case "Crowdfunding Initiativen (Spende)":
        loadUrl("<%= company_path(:id => @company.id, :topic => "Donation") %>");
        break
      case "Crowdfunding Initiativen (Belohnung)":
        loadUrl("<%= company_path(:id => @company.id, :topic => "Reward") %>");
        break
      case "Crowdfunding Initiativen (Kredit)":
        loadUrl("<%= company_path(:id => @company.id, :topic => "Loan") %>");
        break
      case "Crowdfunding Beitr채ge":
        loadUrl("<%= company_path(:id => @company.id, :topic => "Stat") %>");
        break
      case "Kundenbeziehungen":
        loadUrl("<%= company_path(:id => @company.id, :topic => "Customer") %>");
        break
      case "Transaktionen":
        loadUrl("<%= company_path(:id => @company.id, :topic => "Transaction") %>");
        break
      default:
        loadUrl("<%= company_path(:id => @company.id, :topic => "Company") %>");
  }
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('.bxslider').bxSlider({
      mode: 'fade',
      auto: true,
      speed:1000,
      controls: false
  });
});
</script>

<script type="text/javascript">
function loadUrl(newLocation)
{
  window.location.href = newLocation;
}
</script>
