<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <h1>timetrack</h1>

                  <ul class="nav nav-pills">
                    <li class="active">
                        <%= link_to @timetrack do %>
                          <i class="glyphicon glyphicon-info-sign"></i> Show
                        <% end %>
                     </li>
                    <li>
                        <%= link_to timetracks_path do %>
                          <i class="glyphicon glyphicon-list"></i> List
                        <% end %>
                     </li>
                  </ul>                  
                  
                </div>
                <div class="panel-body">

                  <%= form_for @timetrack do |f| %>
                  
                    <% if @timetrack.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@timetrack.errors.count, "error") %> prohibited this workorder from being saved:</h2>
                  
                        <ul>
                        <% @timetrack.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    
                      <div class="form-group">
                        <%= f.label "report date" %><br/>
                        <%= f.text_field :datum, class:"form-control" %>
                      </div>
                      
                      <div class="form-group">
                        <%= f.label "Time and Material" %><br />
                        <%= f.radio_button :tandm, "TIME" %> Time <br>
                        <%= f.radio_button :tandm, "MATERIAL" %> Material <br>
                    </div>
                    
                      <div class="form-group">
                        <%= f.label "position" %><br/>
                        <%= f.text_field :activity, autofocus: true, class:"form-control"%>
                      </div>
                      <div class="form-group">
                        <%= f.label "amount" %><br/>
                        <%= f.number_field :amount, class:"form-control"%>
                      </div>
                      
                        <%= f.text_field :user_id, class:"form-control hidden"%>
                        <%= f.text_field :workorder_id, class:"form-control hidden"%>
                  
                     <div class="actions">
                      <%= f.submit "Save",  class:"btn btn-primary btn-lg"%>
                    </div>
                  <% end %>
                </div>    

                
                <div class="panel-footer">
                    <p id="notice"><%= notice %></p>
                </div>
          </div>
      </div>
      <div class="col-md-8">
              <% @tt = Timetrack.where("workorder_id=?", @timetrack.workorder_id) %>
              <% if @tt != nil %>
                <% anz = @tt.sum(:amount).to_s %>
              <% else %>
                <% anz = 0.to_s %>
              <% end %>
             <h1><%= anz +" hours reported " + @timetrack.workorder.name + " month " + @timetrack.datum.to_date.strftime("%B-%Y").to_s %> 
             <%= content_tag :div, "", id: "reports_chart",  data: {reports: @tt} %>
      </div>
  </div>
</div>
