<p id="notice"><%= notice %></p>

<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
      <h1>Listing Timetrack entries</h1>
      <%= link_to new_timetrack_path do %>
        <i class="btn btn-primary glyphicon glyphicon-plus"></i>
      <% end %>
      <br>
			<table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>date</th>
            <th>activity</th>
            <th>workorder</th>
            <th>responsibility</th>
            <th>Time & Material</th>
            <th>amount</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @timetracks.each do |tt| %>
            <tr>
              <td><%= tt.datum.strftime("%d-%m-%Y") %></td>
              <td><%= tt.activity %></td>
              <td><%= tt.workorder.name %></td>
              <td><%= tt.user.lastname + " " + tt.user.name %></td>
              <td><%= tt.tandm %></td>
              <td><%= tt.amount %></td>
              <td>
                <ul class="nav nav-pills">
                  <li>
      				        <%= link_to tt do %>
                        <i class="btn btn-info glyphicon glyphicon-info-sign"></i>
                      <% end %>
      				    </li>
      	          <li>
      				        <%= link_to edit_timetrack_path(tt) do %>
                        <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                      <% end %>
      				    </li>
          	      <li>
      				        <%= link_to tt, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                      <% end %>
      				    </li>
      			    </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
