<p id="notice"><%= notice %></p>

<h1>Listing Timetracks</h1>

<%= $current_user_id %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Workorder</th>
      <th>Hour or cost</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timetracks.each do |timetrack| %>
      <tr>
        <td><%= timetrack.user_id %></td>
        <td><%= timetrack.workorder_id %></td>
        <td><%= timetrack.tandm %></td>
        <td><%= timetrack.datum %></td>
        <td><%= timetrack.activity %></td>
        <td><%= timetrack.amount %></td>
        <td><%= link_to 'Show', timetrack %></td>
        <td><%= link_to 'Edit', edit_timetrack_path(timetrack) %></td>
        <td><%= link_to 'Destroy', timetrack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timetrack', new_timetrack_path %>
