<div class="container-fluid">
    <%= form_for @right do |f| %>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <%= link_to rights_path(:company_id => @right.company_id) do %>
                    <i class="btn btn-primary glyphicon glyphicon-list"></i>
                  <% end %>
                  <b>rights data</b>
                 </div>
                <div class="panel-body">
                  <% if @right.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@right.errors.count, "error") %> prohibited this company from being saved:</h2>
                
                      <ul>
                      <% @right.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="form-group">
                    <%= f.label "Superuser" %><br/>
                    <%= f.check_box :superuser, autofocus: true, class:"form-control"%>
                  </div>
                  <%= f.hidden_field :company_id %>
                  <%= f.hidden_field :user_id %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="actions">
              <%= f.submit "Save",  class:"btn btn-primary btn-lg"%>
            </div>
            <div class="panel-footer">
              <p id="notice"><%= notice %></p>
            </div>
        </div>
    </div>        
    <% end %>                
</div>

