<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @right.company_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @right.user_id %>
</p>

<p>
  <strong>Superuser:</strong>
  <%= @right.superuser %>
</p>

<%= link_to 'Edit', edit_right_path(@right) %> |
<%= link_to 'Back', rights_path %>
