
	<div class="row">
    <div class="col-xs-12">
      <div class="panel-body">
        <% if session[:sponsor_id] != nil %>
          <%= link_to tickets_path :sponsor_id => session[:sponsor_id] do %>
            <i class="btn btn-primary glyphicon glyphicon-list"></i>
          <% end %>
          <% @counter = UserTicket.where('ticket_id=?',session[:ticket_id]).count %>
          <%= link_to searches_path :search_domain => "Tickets", :controller_name => controller_name, :ticket_id => session[:ticket_id], :activate => true, :page => session[:page] do %>
            <i class="btn btn-danger pull-right glyphicon glyphicon-user"></i>
          <% end %>
          <%= link_to searches_path :search_domain => "Tickets", :controller_name => controller_name, :ticket_id => session[:ticket_id], :generate => true, :page => session[:page] do %>
            <i class="btn btn-warning pull-right glyphicon glyphicon-user"></i>
          <% end %>
          <%= link_to ticketuserview_index_path :ticket_id => session[:ticket_id] do %>
            <i class="btn btn-primary pull-right glyphicon glyphicon-user">
            <span class="badge"><%= @counter %></span></i>
          <% end %>
        <% else %>
          <% ticket_id = nil %>
          <% if @controller_name == "donations" %>
            <%= link_to donations_path :search_domain => @search_domain, :dtype => @dtype, :page => session[:page] do %>
              <i class="btn btn-primary glyphicon glyphicon-list"></i>
            <% end %>
          <% else %>
            <%= link_to url_for(@controller_name), :search_domain => @search_domain, :dtype => @dtype, :page => session[:page] do %>
              <i class="btn btn-primary glyphicon glyphicon-list"></i>
            <% end %>
          <% end %>
        <% end %>
		    <%= link_to new_search_path(:user_id => current_user.id, :search_domain => @search_domain, :controller_name => @controller_name, :ticket_id => session[:ticket_id]) do %>
          <i class="btn btn-primary glyphicon glyphicon-plus"></i>
        <% end %>
      </div>
    </div>
  </div>
    
  <div class="row">
      <% if @ticket %>
        <%= header("Suchen " + @search_domain + " " + @ticket.sponsor.event.name + " " + @ticket.name + " <span class='badge'>" + @seranz.to_s + "</span>") %>
      <% else %>
        <%= header("Suchen " + @search_domain + " <span class='badge'>" + @seranz.to_s + "</span>") %>
      <% end %>
  </div>

	<div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
    		<!--<table class="table table-striped table-hover-->
    		<table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Bezeichnung</th>
              <th>Datum</th>
              <th>Anzahl</th>
            </tr>
          </thead>
        
          <tbody>
            <% @searches.each do |s| %>
              <tr>
                <td>
                <% case s.search_domain %>
                <% when "Privatpersonen" %>
                  <%= link_to users_path :filter_id => s.id do %>
                    <i class="btn btn-primary glyphicon glyphicon-filter"></i>
                  <% end %>
                <% when "Institutionen" %>
                  <%= link_to companies_path :filter_id => s.id do %>
                    <i class="btn btn-primary glyphicon glyphicon-filter"></i>
                  <% end %>
                <% when "Angebote", "Aktionen" %>
                  <%= link_to offer_index_path :filter_id => s.id  do %>
                    <i class="btn btn-primary glyphicon glyphicon-filter"></i>
                  <% end %>
                <% when "Mobilien" %>
                  <%= link_to vehicles_path :filter_id => s.id  do %>
                    <i class="btn btn-primary glyphicon glyphicon-filter"></i>
                  <% end %>
                <% when "Ausschreibungen" %>
                  <%= link_to bids_path :filter_id => s.id  do %>
                    <i class="btn btn-primary glyphicon glyphicon-filter"></i>
                  <% end %>
                <% when "Kleinanzeigen" %>
                  <%= link_to requests_path :filter_id => s.id , :rtype => s.rtype do %>
                    <i class="btn btn-primary glyphicon glyphicon-filter"></i>
                  <% end %>
                <% when "Stellenanzeigen" %>
                  <%= link_to jobs_path :filter_id => s.id do %>
                    <i class="btn btn-primary glyphicon glyphicon-filter"></i>
                  <% end %>
                <% when "Veranstaltungen" %>
                  <%= link_to events_path :filter_id => s.id  do %>
                    <i class="btn btn-primary glyphicon glyphicon-filter"></i>
                  <% end %>
                <% when "Sehenswuerdigkeiten" %>
                  <%= link_to hotspots_path :filter_id => s.id do %>
                    <i class="btn btn-primary glyphicon glyphicon-filter"></i>
                  <% end %>
                <% when "Spendeninitiativen", "Rewardinitiativen" %>
                  <%= link_to donations_path :filter_id => s.id, :dtype => @dtype  do %>
                    <i class="btn btn-primary glyphicon glyphicon-filter"></i>
                  <% end %>
                <% end %>

      	        <%= link_to edit_search_path(s, :ticket_id => ticket_id) do %>
                  <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                <% end %>
      	        <%= link_to s, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                <% end %>
                </td>
                <td>
                  <anzeigetext>
                    <%= s.name %><br>
                  </anzeigetext>
                </td>
                <ntext>
                <td><%= s.updated_at.strftime("%d.%m.%Y um %T Uhr") %></td>
                <td><%= s.counter %></td>
                </ntext>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>