<p id="notice"><%= notice %></p>
<div class="container">
  <div class="jumbotron">
    <h1>Welcome <%=@username %> to ProMIS</h1>
        <p>the most popular Projectmanagement Reporting Tool, also know as SAP killer</p> 
  </div>
  <p>Please SignIn/LogIn</p> 

<div>
<!--<%= params.inspect %>  -->
</div> 

<%= form_tag (login_login_path method: :POST) do %>
      <%= label_tag "Email Adress" %><br>
      <%= email_field_tag :email, value=@email %><br>
      <%= label_tag "Password" %><br>
      <%= password_field_tag :password, value:@password %><br><br>
      <%= button_tag "Login", class:"btn btn-default"%>
<% end %>

</div>  
</div>