<p id="notice"><%= notice %></p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <%= form_tag (stats_user_path method: :POST) do %>
                      <div class="form-group">
                        <%= label_tag "starting date" %>
                        <%= text_field_tag :starting_date, $start_date, class:"form-control"%>
                      </div>
                      <div class="form-group">
                        <%= label_tag "ending date" %>
                        <%= text_field_tag :ending_date, $end_date, class:"form-control"%>
                      </div>
                      <div class="form-group">
                        <%= select_tag "company_id", options_from_collection_for_select(@companies, "id", "name", $company_id), {class: "form-control"} %>
                      </div>
                      <div class="form-group">
                        <%= select_tag "workorder_id", options_from_collection_for_select(@workorders, "id", "name", $workorder_id), {class: "form-control"} %>
                      </div>
                      <div class="form-group">
                        <%= check_box_tag :include_sub, true, $include_sub, class:"form-control"%>
                        <%= label_tag "include sub workorders" %>
                      </div>
                      <div class="actions">
                            <%= button_to "Update Chart", stats_user_path(:include_sub => $include_sub, :company_id => $company_id, :workorder_id => $workorder_id, :data => "UpdateChart"), class:"btn btn-primary" %>
                      </div>
                      <div class="actions">
                            <%= button_to "Export Excel", stats_user_path(:include_sub => $include_sub, :company_id => $company_id, :workorder_id => $workorder_id, :data => "WriteExcel"), class:"btn btn-default" %>
                      </div>
                    <% end %>
                    <%= link_to $filename, $filename.remove("public") %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
                <h1><%= @tt1.sum(:amount).to_s + " hours reported" %></h1>
                <%= content_tag :div, "", id: "reports_chart", data: {reports: @tt1} %>
        </div>
    </div>
</div>
