<p id="notice"><%= notice %></p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <%= form_tag (stats_user_path method: :POST) do %>
                      <div class="form-group">
                        <%= label_tag "starting date" %>
                        <%= text_field_tag :starting_date, @report_date, class:"form-control"%>
                      </div>
                      <div class="form-group">
                        <%= label_tag "ending date" %>
                        <%= text_field_tag :ending_date, @report_date, class:"form-control"%>
                      </div>
                      <div class="form-group">
                        <%= check_box_tag :user_active, class:"form-control"%>
                        <%= label_tag "user" %>
                      </div>
                      <div class="form-group">
                        <%= select_tag "people", options_from_collection_for_select(@people, "id", "userid"), {class: "form-control", multiple: true} %>
                      </div>
                      <div class="form-group">
                        <%= check_box_tag :workorder_active, class:"form-control"%>
                        <%= label_tag "workorder" %>
                      </div>
                      <div class="form-group">
                        <%= select_tag "workorder", options_from_collection_for_select(@workorders, "id", "name"), {class: "form-control", multiple: true} %>
                      </div>
                        <div class="form-group">
                          <%= label_tag "hours or costs" %><br/>
                          <%= radio_button_tag :time, "time positions" %> time <br>
                          <%= radio_button_tag :time, "cost positions" %> material <br>
                          <%= radio_button_tag :time, "time & cost positions" %> time & material <br>
                      </div>
                      <div class="actions">
                            <%= button_to "Update Chart", stats_user_path, class:"btn btn-primary" %>
                      </div>
                    <% end %>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
                <%= content_tag :div, "", id: "timetracks_chart", data: {timetracks: @timetracks} %>
        </div>
    </div>
</div>
