<p id="notice"><%= notice %></p>

<h1>Listing SubProjects</h1>

<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @subprojects.each do |subproject| %>
      <tr>
        <td><%= image_tag subproject.avatar(:small) %></td>
        <td><%= subproject.name %></td>
        <td><%= subproject.description %></td>
        <td>
          <ul class="nav nav-pills">
				    <li>
				        <%= link_to subproject do %>
                  <i class="btn btn-info glyphicon glyphicon-info-sign"></i>
                <% end %>
				    </li>
	          <li>
				        <%= link_to edit_subproject_path(subproject) do %>
                  <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                <% end %>
				    </li>
				    <li>
				        <%= link_to workorders_path(:id => subproject.id) do %>
                  <i class="btn btn-primary glyphicon glyphicon-plus-sign"></i>
                <% end %>
				    </li>
	          <li>
				        <%= link_to subproject, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                <% end %>
				    </li>
			    </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subproject', new_subproject_path(:id => $current_project_id) %>
