<br>
<footer>
    <div class="panel-body">
        <div class="col-md-3">
            <footer_header>
                XCONNECT
            </footer_header>
            <br><br>
            <footer_text>
                <%= link_to "Über uns", url_with_protocol("xConnect_ueber_uns.html"), :target => '_blank' %>
            </footer_text>
            <br>
            <footer_text>
                <%= link_to "Rechtliches & Impressum", url_with_protocol("xConnect_rechtliches_und.impressum"), :target => '_blank' %>
            </footer_text>
            <br>
            <footer_text>
                <%= link_to "Partner", url_with_protocol("xConnect_partner.html"), :target => '_blank' %>
            </footer_text>
            <br>
            <footer_text>
                <%= link_to "Kontakt", url_with_protocol("xConnect_kontakt.html"), :target => '_blank' %>
            </footer_text>
        </div>
        <div class="col-md-3">
            <footer_header>
                HILFE/FAQ
            </footer_header>
            <br><br>
            <footer_text>
                <%= link_to "Allgemein", home_index_path %>
            </footer_text>
            <br>
            <footer_text>
                <%= link_to "Anmelden", new_user_session_path %>
            </footer_text>
            <br>
            <footer_text>
                <%= link_to "Abmelden", destroy_user_session_path, method: :delete %>
            </footer_text>
            <br>
            <footer_text>
                <%= link_to "Registrieren", new_user_registration_path %>
            </footer_text>
        </div>
        <div class="col-md-3">
            <%= image_tag ('connect.jpg'), :size => "250x140" %>
        </div>
        <div class="col-md-12">
            <br>
            <% flash.each do |name, msg| %>
              <% content_tag(:div, msg, class:"alert alert-warning") %>
              <message><%= msg %></message> 
            <% end %>
        </div>
    </div>
</footer>
