<%= render 'layouts/top' %>
<nav class="navbar navbar-inverse" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
		</button>
        <%= image_tag("marketplace.png", :size => "50x50") %>
        <%= link_to "xConnect", home_index_path, class:"navbar-brand" %>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Angebot<strong class="caret"></strong></a>
				<ul class="dropdown-menu">
                    <li><%= link_to "Privatpersonen", users_path(:rtype => "biete") if $activeapps.include?("Privatpersonen") %></li>
					<li><%= link_to "Institutionen", companies_path(:user_id => nil)  if $activeapps.include?("Institutionen")%></li>
				    <li class="divider">
                    <li><%= link_to "Angebote", services_path(:stype => "regular") if $activeapps.include?("Services")%></li>
				    <li class="divider">
				    <li><%= link_to "Sonderaktionen", services_path(:stype => "action") if $activeapps.include?("Aktionen")%></li>
                    <li><%= link_to "Sonderaktionen (Kalender)", showcal_action_path if $activeapps.include?("Aktionen")%></li>
				    <li class="divider">
                    <li><%= link_to "Mobilien", vehicles_path if $activeapps.include?("Mobilien") %></li>
				    <li class="divider">
                    <li><%= link_to "Ausschreibungen", bids_path if $activeapps.include?("Ausschreibungen") %></li>
                    <li><%= link_to "Ausschreibungen (Kalender)", showcal_bid_path if $activeapps.include?("Ausschreibungen") %></li>
				</ul>
			</li>
			<li class="dropdown">
				 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anzeigen<strong class="caret"></strong></a>
				<ul class="dropdown-menu">
                  <li><%= link_to "Kleinanzeigen (Suchen)", requests_path(:rtype => "suche") if $activeapps.include?("Kleinanzeigen") %></li>
	              <li><%= link_to "Kleinanzeigen (Anbieten)", requests_path(:rtype => "biete") if $activeapps.include?("Kleinanzeigen") %></li>
				  <li class="divider">
				  <li><%= link_to "Stellenanzeigen", jobs_path if $activeapps.include?("Stellenanzeigen") %></li>
				  <li class="divider">
                  <li><%= link_to "Immobilien newhome.ch", url_with_protocol("www.newhome.ch"), :target => '_blank' %></li>
	    		</ul>
			</li>
			<li class="dropdown">
				 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Freizeit/Privat<strong class="caret"></strong></a>
				<ul class="dropdown-menu">
                  <li><%= link_to "Veranstaltungen", events_path if $activeapps.include?("Veranstaltungen")%></li>
                  <li><%= link_to "Veranstaltungen (Kalender)", showcal_event_path if $activeapps.include?("Veranstaltungen")%></li>
				  <% if user_signed_in? %>
	                  <li><% link_to "Tickets", user_tickets_path if $activeapps.include?("Sponsoring")%></li>
	              <% end %>
				  <li class="divider">
                  <li><%= link_to "Sehenswürdigkeiten", hotspots_path if $activeapps.include?("Sehenswürdigkeiten")%></li>
				  <li class="divider">
				  <li><%= link_to "Spenden Initiativen", donations_path if $activeapps.include?("Spendeninitiativen") %></li>
	    		</ul>
			</li>
			<% if $controller_list.include?(controller_name) and (action_name == "index") %>
				<% @items = url_for(action: action_name, controller: controller_name) %>
				<%= form_tag(@items, method: 'get', class: 'navbar-form navbar-left') do %>
				  <%= search_field_tag 'search', nil, class: 'form-control', placeholder: 'Search'  %>
				  <%= submit_tag "Suchen", class: 'btn btn-default', :name => nil %>
				<% end %>
			<% end %>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<% if user_signed_in? %>
					 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name + " " + current_user.lastname %><strong class="caret"></strong></a>
				<% else %>
					 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anmelden<strong class="caret"></strong></a>
				<% end %>
				<ul class="dropdown-menu">
	                <% if user_signed_in? %>
	                   <li><%= link_to "Mein Account", current_user %></li>
					   <% if current_user.webmaster %>
							<li><%= link_to "Webmaster", webmasters_path  %></li>
					   <% end %>
					   <% if current_user.superuser %>
							<li><%= link_to "App Parameter", appparams_path  %></li>
							<li><%= link_to "User Statistik", home_index2_path  %></li>
					   <% end %>
	                   <li><%= link_to "Abmelden", destroy_user_session_path, method: :delete %></li>
	                <% else %>
	                   <li><%= link_to "Anmelden", new_user_session_path %></li>
	                   <li><%= link_to "Registrieren", new_user_registration_path %></li>
	                <% end %>
				</ul>
			</li>
		</ul>
	</div>

	<marquee height="100%" scrolldelay="150"><%= ticker() %></marquee>
	
</nav>

