<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="panel panel-info">
    <div class="panel-heading">

      <div class="row">
        <div class="col-md-1">
          <%= link_to plannings_overview_path(:user_id => current_user.id, :dir => "<", :year => @c_year, :month => @c_month, :week => @c_week)  do %>
            <i class="btn btn-primary btn-block glyphicon glyphicon-chevron-left"></i>
          <% end %>
        </div>

        <%= form_tag (plannings_overview_path method: :POST) do %>
          <div class="col-md-10">
              <%= select_tag "period", options_for_select(@period_options, @period), class:"form-control",:onchange => "this.form.submit();" %>
          </div>
        <% end %>

        <div class="col-md-1">
          <%= link_to plannings_overview_path(:user_id => current_user.id, :dir => ">", :year => @c_year, :month => @c_month, :week => @c_week) do %>
            <i class="pull-right btn btn-primary btn-block glyphicon glyphicon-chevron-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <table class="table">
    <tr>
      <td></td><td></td>
      <td colspan= <%= @header.length %>><b><%= @c_label %></b></td> 
    </tr>
    <tr>
      <th colspan="2">workorder</th>
      
      <% @total = [] %>
      <% for i in 0..@header.length-1 do %>
        <!-- set initialize total per column -->
        <% @total[i] = 0 %>
        <!-- set color of header according to actual day, wekk or month -->
        <% if current_period(@period, @data[i]) %>
              <th class="warning">
        <% else %>
              <th>
        <% end %>
          
        <%= @header[i] %>
        </th>
      <% end %>
    </tr>

    <% @workorders.each do |w| %>
    
      <!-- generate Org Plan according to period -->

      <% hash = plans(@header, @period_options, @period, w, @data, @c_year, @c_month, @c_week) %>
      <%= hash[:html] %>
      <% t_total = hash[:total] %>
      <% for i in 0..@header.length-1 %>
        <%   @total[i] = @total[i] + t_total[i] %>
      <% end %>
      <!-- generate overall plans  -->
       <% case @period %>
        <% when @period_options[0] %>

        <% when @period_options[1] %>
        
          <!-- integrate yearly planning -->
          <% @yearplans = Planning.where("user_id=? and workorder_id=? and year=? and month=? and period=?", current_user.id, w.id, @c_year, @c_month, @period_options[0]) %>
          <% @yearplans.each do |yp| %>
            <tr>
              <td></td>
              <td>Monthly Planning</td>
              <% for i in 0..@header.length-1 %>
                <td class="info"><%= yp.percentage %></td>
                <% @total[i] = @total[i] + yp.percentage %>
              <% end %>
            </tr>
          <% end %>

        <% when @period_options[2] %>
          <!-- integrate yearly planning -->
          <% found = false %>
          <% per = [] %>
          <% for i in 0..@header.length-1 %>
          <%   per[i] = 0 %>
          <% end %>
          <% for i in 0..@header.length-1 %>
              <% year = @data[i].strftime("%Y").to_i %>
              <% month = @data[i].strftime("%m").to_i %>
              <% @yearplans = Planning.where("user_id=? and workorder_id=? and year=? and month=? and period=?", current_user.id, w.id, year, month, @period_options[0]) %>
              <% if @yearplans.count > 0 %>
              <%   found = true %>
              <% end %>
              <% @yearplans.each do |yp| %>
                  <% per[i] = per[i] + yp.percentage %>
                  <% @total[i] = @total[i] + yp.percentage %>
              <% end %>
          <% end %>
          <% if found %>
            <tr>
            <td></td>
            <td>Monthly Planning</td>
            <% for i in 0..@header.length-1 %>
              <% if per[i] == 0 %>
                <td></td>
              <% else %>
                <td class="info"><%= per[i] %></td>
              <% end %>
            <% end %>
            </tr>
          <% end %>
          <!-- integrate weekly  -->
          <% @weekplans = Planning.where("user_id=? and workorder_id=? and year=? and week=? and period=?", current_user.id, w.id, @c_year, @c_week, @period_options[1]) %>
          <% @weekplans.each do |wp| %>
            <tr>
              <td></td>
              <td>Weekly Planning</td>
              <% for i in 0..@header.length-1 %>
                <td class="info"><%= wp.percentage %></td>
                <% @total[i] = @total[i] + wp.percentage %>
              <% end %>
            </tr>
          <% end %>
          
      <% end %>

    <% end %>
    
    <!-- finally add totals and progress bar-->
    <tr>
      <td>Total</td>
      <td></td>
      <% for i in 0..@header.length-1 do %>
        <% if @total[i] > 100 %>
            <td class="danger">
        <% else %>
            <td>
        <% end %>
        <%= @total[i] %>
        </td>
      <% end %>
    </tr>
  
    <tr>
      <td></td>
      <td></td>
      <% for i in 0..@header.length-1 do %>
        <td>
        <div class="progress">
        <% if @total[i] <=40 %>
          <div class="progress-bar progress-bar-danger" role="progressbar" style="width: <%= @total[i] %>%" >
        <% end %>
        <% if @total[i] >40 and @total[i]<=60 %>
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%= @total[i] %>%" >
        <% end %>
        <% if @total[i] >60 and @total[i]<=100 %>
          <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= @total[i] %>%" >
        <% end %>
        <% if @total[i] >100 and @total[i]<=125 %>
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%= @total[i] %>%" >
        <% end %>
        <% if @total[i] >125 %>
          <div class="progress-bar progress-bar-danger" role="progressbar" style="width: <%= @total[i] %>%" >
        <% end %>
        </div>
        </td>
      <% end %>
    </tr>
  </table>

  <!--<div class="row">-->
  <!--     <div class="col-md-12">-->
  <!--        <div class="panel panel-default">-->
  <!--            <div class="panel-heading">-->
  <!--                <h1><%= @c_label %></h1>-->
  <!--                <% @ressources = [] %>-->
  <!--                <% for i in 0..@header.length-1 %>-->
  <!--                  <% @ressources << {:period => @header[i], :percentage => @total[i]} %>-->
  <!--                <% end %>-->
  <!--                <% puts @ressources %>-->
  <!--                <%= content_tag :div, "", id: "ressources_chart",  data: {ressources: @ressources} %>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->
  <!--</div>-->

</div>